<section class="dropdown-display-controls" style="display: none;">
	<input type="checkbox" name="collapse" id="dropdown-display-controls" checked>
	<label class="dropdown-label" for="dropdown-display-controls"></label>
	<div class="dropdown-content">
		<span class="dropdown-hider">
			<b>
				Colour theme
			</b>
			<fieldset id="colour-theme-choice">
				<div>
					<input type="radio" id="colour-theme-light" name="colour-theme" value="colour-theme-light">
					<label for="colour-theme-light">Light colour theme</label>
				</div>
				<div>
					<input type="radio" id="colour-theme-dark" name="colour-theme" value="colour-theme-dark">
					<label for="colour-theme-dark">Dark colour theme</label>
				</div>
				<!--
				<div>
					<input type="radio" id="colour-theme-auto" name="colour-theme" value="colour-theme-auto" onclick="colourThemeAuto(); document.cookie = 'colour_theme=auto; expires=Thu, 01 Jan 1970 00:00:00 GMT; Secure';">
					<label for="colour-theme-dark">Sync with device</label>
				</div>
				-->
			</fieldset>
			<b>
				Display options
			</b>
			<fieldset id="display-bg-checker-choice">
				<input type="checkbox" id="display-bg-checker">
				<label for="display-bg-checker">Simple background</label>
			</fieldset>
			<fieldset id="main-content-width-choice">
				<label for="main-content-width">Main content width (default: 80 characters)</label><br>
				<input type="number" id="main-content-width" name="main-content-width" min="10" max="100" required>
				<button id="main-content-width-apply">Apply</button>
				<p id="main-content-width-input-notice"></p>
			</fieldset>
			<span class="hr-light"></span>
			<p>
				These options are saved in local storage.
			</p>
			<button id="clear-all-options">Clear all options</button>
		</span>
	</div>
</section>
<script>
	document.getElementsByClassName("dropdown-display-controls")[0].style.display = "block"
</script>
