<div class="rightbox">
	<h6>
		Colour theme
	</h6>
	<fieldset id="colour-theme-choice">
		<div>
			<input type="radio" id="colour-theme-light" name="colour-theme" value="colour-theme-light" onclick="colourThemeLight(); document.cookie = 'colour_theme=light; max-age=1209600; Secure';">
			<label for="colour-theme-light">Light colour theme</label>
		</div>
		<div>
			<input type="radio" id="colour-theme-dark" name="colour-theme" value="colour-theme-dark" onclick="colourThemeDark(); document.cookie = 'colour_theme=dark; max-age=1209600; Secure';">
			<label for="colour-theme-dark">Dark colour theme</label>
		</div>
		<!--
		<div>
			<input type="radio" id="colour-theme-auto" name="colour-theme" value="colour-theme-auto" onclick="colourThemeAuto(); document.cookie = 'colour_theme=auto; expires=Thu, 01 Jan 1970 00:00:00 GMT; Secure';">
			<label for="colour-theme-dark">Sync with device</label>
		</div>
		-->
	</fieldset>
	<h6>
		Display options
	</h6>
	<fieldset id="display-bg-checker-choice">
		<input type="checkbox" id="display-bg-checker" checked>
		<label for="display-bg-checker">Display background checkerboard pattern</label>
	</fieldset>
	<p>
		These settings are saved as cookies. They expire after 14 days.
	</p>
</div>