<script>
	function colourThemeDark() {
		document.documentElement.style.setProperty('--header-colour', '{{ layout.css.dark.header-colour }}');
		document.documentElement.style.setProperty('--bg-colour', '{{ layout.css.dark.bg-colour }}');
		document.documentElement.style.setProperty('--bg-checkerdark', '{{ layout.css.dark.bg-checkerdark }}');
		document.documentElement.style.setProperty('--bg-checkerlight', '{{ layout.css.dark.bg-checkerlight }}');
		document.documentElement.style.setProperty('--bg-triangle', '{{ layout.css.dark.bg-triangle }}');
		document.documentElement.style.setProperty('--sidebar-colour', '{{ layout.css.dark.sidebar-colour }}');
		document.documentElement.style.setProperty('--text-colour', '{{ layout.css.dark.text-colour }}');
		document.documentElement.style.setProperty('--a-colour', '{{ layout.css.dark.a-colour }}');
		document.documentElement.style.setProperty('--a-visited-colour', '{{ layout.css.dark.a-visited-colour }}');
		document.documentElement.style.setProperty('--a-hover-colour', '{{ layout.css.dark.a-hover-colour }}');
		document.documentElement.style.setProperty('--a-active-colour', '{{ layout.css.dark.a-active-colour }}');
		document.documentElement.style.setProperty('--hr-colour', '{{ layout.css.dark.hr-colour }}');
		document.documentElement.style.setProperty('--tone-colour', '{{ layout.css.dark.tone-colour }}');
		document.documentElement.style.setProperty('--rightbox-colour', '{{ layout.css.dark.rightbox-colour }}');
		{% if include.no_switcher != true %}
		document.getElementById("colour-theme-dark").checked = true;
		document.getElementById("colour-theme-light").checked = false;
		{% endif %}
		/*document.getElementById("colour-theme-auto").checked = false;*/
	}

	function colourThemeLight() {
		document.documentElement.style.setProperty('--header-colour', '{{ layout.css.light.header-colour }}');
		document.documentElement.style.setProperty('--bg-colour', '{{ layout.css.light.bg-colour }}');
		document.documentElement.style.setProperty('--bg-checkerdark', '{{ layout.css.light.bg-checkerdark }}');
		document.documentElement.style.setProperty('--bg-checkerlight', '{{ layout.css.light.bg-checkerlight }}');
		document.documentElement.style.setProperty('--bg-triangle', '{{ layout.css.light.bg-triangle }}');
		document.documentElement.style.setProperty('--sidebar-colour', '{{ layout.css.light.sidebar-colour }}');
		document.documentElement.style.setProperty('--text-colour', '{{ layout.css.light.text-colour }}');
		document.documentElement.style.setProperty('--a-colour', '{{ layout.css.light.a-colour }}');
		document.documentElement.style.setProperty('--a-visited-colour', '{{ layout.css.light.a-visited-colour }}');
		document.documentElement.style.setProperty('--a-hover-colour', '{{ layout.css.light.a-hover-colour }}');
		document.documentElement.style.setProperty('--a-active-colour', '{{ layout.css.light.a-active-colour }}');
		document.documentElement.style.setProperty('--hr-colour', '{{ layout.css.light.hr-colour }}');
		document.documentElement.style.setProperty('--tone-colour', '{{ layout.css.light.tone-colour }}');
		document.documentElement.style.setProperty('--rightbox-colour', '{{ layout.css.light.rightbox-colour }}');
		{% if include.no_switcher != true %}
		document.getElementById("colour-theme-dark").checked = false;
		document.getElementById("colour-theme-light").checked = true;
		{% endif %}
		/*document.getElementById("colour-theme-auto").checked = false;*/
	}

	function colourThemeAuto() {
		let mediaQueryList = window.matchMedia("(prefers-color-scheme: light)");

		if (!mediaQueryList.matches) {
			colourThemeDark();
		} else {
			colourThemeDark();
		}
		/*
		document.getElementById("colour-theme-dark").checked = false;
		document.getElementById("colour-theme-light").checked = false;
		document.getElementById("colour-theme-auto").checked = true;
		*/
	}

	document.addEventListener("DOMContentLoaded", function(event) {
		let cookieColourScheme = localStorage.getItem("colour_theme");

		if (cookieColourScheme) {
			if (cookieColourScheme === "light") {
				colourThemeLight();
			} else if (cookieColourScheme === "dark") {
				colourThemeDark();
			}
		} else {
			colourThemeAuto();
		}
	})
	{% if include.no_switcher != true %}
	document.getElementById("colour-theme-light").addEventListener("change", function(event) {
		if (document.getElementById("colour-theme-light").checked) {
			colourThemeLight()
			localStorage.setItem("colour_theme", "light")
		}
	})

	document.getElementById("colour-theme-dark").addEventListener("change", function(event) {
		if (document.getElementById("colour-theme-dark").checked) {
			colourThemeDark()
			localStorage.setItem("colour_theme", "dark")
		}
	})
	{% endif %}
</script>
