<a href="/">Index</a>
<br>
<a href="/about">About</a>
<br>
<a href="/photosystems">Photosystems</a>
<br>
<a href="/games">Games</a>
<br>
<a href="/sieveplate">SievePlate</a>
<br>
<a href="/esoterrarium">Esoterrarium</a>
<br>
<a href="https://neocities.org/site/pencilvoid" target="_blank">Neocities Profile</a>
<br>
<a href="https://github.com/PencilVoid/neocities-pencilvoid" target="_blank">Source repo</a>
	<hr>
<section class="dropdown" id="section-dropdown-sidebar">
	<header style="margin-bottom: 0.75rem;">
		<span style="font-weight: bold">
			Buttons (animated/flashing images)
		</span>
	</header>
	{% if include.hamburger -%}
	<input type="checkbox" name="collapse" id="dropdown-sidebar-buttons-hamburger">
	<label class="dropdown-label" for="dropdown-sidebar-buttons-hamburger"></label>
	{% else -%}
	<input type="checkbox" name="collapse" id="dropdown-sidebar-buttons">
	<label class="dropdown-label" for="dropdown-sidebar-buttons"></label>
	{% endif -%}
	<div class="dropdown-content">
		<span class="dropdown-hider">
			<a href="https://pencilvoid.neocities.org">
				<img src="/resources/images/buttons/pv.png" alt="88x31 button leading to pencilvoid.neocities.org">
			</a>
			<span class="hr-light"></span>
			<a href="https://arandomsite.neocities.org" target="_blank">
				<img src="/resources/images/buttons/arandomsite.png" alt="88x31 button leading to arandomsite.neocities.org">
			</a>
			<a href="https://ashifolfi.neocities.org" target="_blank">
				<img src="/resources/images/buttons/ashifolfi.gif" alt="88x31 button leading to ashifolfi.neocities.org">
			</a>
			<a href="https://chipsfunfun.neocities.org" target="_blank">
				<img src="/resources/images/buttons/chipsfunfun.PNG" alt="88x31 button leading to chipsfunfun.neocities.org">
			</a>
			<a href="https://cloverbell.neocities.org" target="_blank">
				<img src="/resources/images/buttons/cloverbell.gif" alt="88x31 button leading to cloverbell.neocities.org">
			</a>
			<a href="https://corq.neocities.org" target="_blank">
				<img src="/resources/images/buttons/corq.png" alt="88x31 button leading to corq.neocities.org">
			</a>
			<a href="https://corru.observer" target="_blank">
				<img src="/resources/images/buttons/corru.gif" alt="88x31 button leading to corru.observer">
			</a>
			<a href="https://dannarchy.com" target="_blank">
				<img src="/resources/images/buttons/dannarchy.gif" alt="88x31 button leading to dannarchy.com">
			</a>
			<a href="https://dawnvoid.neocities.org" target="_blank">
				<img src="/resources/images/buttons/dawnvoid.gif" alt="88x31 button leading to dawnvoid.neocities.org">
			</a>
			<a href="https://errormine.neocities.org" target="_blank">
				<img src="/resources/images/buttons/errormine.gif" alt="88x31 button leading to errormine.neocities.org">
			</a>
			<a href="https://jasm1nii.xyz/" target="_blank">
				<img src="/resources/images/buttons/jasm1nii.png" alt="88x31 button leading to jasm1nii.xyz">
			</a>
			<a href="https://junebugjamboree.neocities.org" target="_blank">
				<img src="/resources/images/buttons/junebug.gif" alt="88x31 button leading to junebugjamboree.neocities.org">
			</a>
			<a href="https://justfluffingaround.neocities.org/" target="_blank">
				<img src="/resources/images/buttons/justfluffingaround.png" alt="88x31 button leading to justfluffingaround.neocities.org">
			</a>
			<a href="https://kalechips.net" target="_blank">
				<img src="/resources/images/buttons/kalechips.png" alt="88x31 button leading to kalechips.net">
			</a>
			<a href="https://klonpa.neocities.org" target="_blank">
				<img src="/resources/images/buttons/klonpa.gif" alt="88x31 button leading to klonpa.neocities.org">
			</a>
			<a href="https://lapislabel.neocities.org" target="_blank">
				<img src="/resources/images/buttons/lapislabel.gif" alt="88x31 button leading to lapislabel.neocities.org">
			</a>
			<!-- 404 - FIX IT
			<a href="https://leafyeevee.neocities.org">
				<img src="/resources/images/buttons/leafy_eevee.gif">
			</a>
			-->
			<a href="https://manyface.neocities.org" target="_blank">
				<img src="/resources/images/buttons/manyface.png" alt="88x31 button leading to manyface.neocities.org">
			</a>
			<a href="https://marea.neocities.org" target="_blank">
				<img src="/resources/images/buttons/marea.gif" alt="88x31 button leading to marea.neocities.org">
			</a>
			<a href="https://medulladeath.neocities.org" target="_blank">
				<img src="/resources/images/buttons/medulladeath.png" alt="88x31 button leading to medulladeath.neocities.org">
			</a>
			<a href="https://metaparadox.neocities.org" target="_blank">
				<img src="/resources/images/buttons/metaparadox.gif" alt="88x31 button leading to metaparadox.neocities.org">
			</a>
			<a href="https://oneiric-somnolence.neocities.org/" target="_blank">
				<img src="/resources/images/buttons/oneiric-somnolence.png" alt="88x31 button leading to oneiric-somnolence.neocities.org">
			</a>
			<a href="https://owlsroost.xyz" target="_blank">
				<img src="/resources/images/buttons/owlsroost.gif" alt="88x31 button leading to owlsroost.xyz">
			</a>
			<a href="https://pinkvampyr.neocities.org/" target="_blank">
				<img src="/resources/images/buttons/pinkvampyr.gif" alt="88x31 button leading to pinkvampyr.neocities.org">
			</a>
			<a href="https://sapero.neocities.org" target="_blank">
				<img src="/resources/images/buttons/sapero.gif" alt="88x31 button leading to sapero.neocities.org">
			</a>
			<a href="https://sonc.neocities.org" target="_blank">
				<img src="/resources/images/buttons/sonc.gif" alt="88x31 button leading to sonc.neocities.org">
			</a>
			<a href="https://space-bar.neocities.org" target="_blank">
				<img src="/resources/images/buttons/space-bar.gif" width="88" alt="88x31 button leading to space-bar.neocities.org">
			</a>
			<a href="https://the-canvas-garden.neocities.org" target="_blank">
				<img src="/resources/images/buttons/the-canvas-garden.gif" alt="88x31 button leading to the-canvas-garden.neocities.org">
			</a>
			<a href="https://theki.club" target="_blank">
				<img src="/resources/images/buttons/theki.gif" alt="88x31 button leading to theki.club">
			</a>
			<a href="https://unartur.neocities.org" target="_blank">
				<img src="/resources/images/buttons/unartur.gif" alt="88x31 button leading to unartur.neocities.org">
			</a>
			<a href="https://umbritzer.neocities.org" target="_blank">
				<img src="/resources/images/buttons/umbritzer.jpg" alt="88x31 button leading to umbritzer.neocities.org">
			</a>
			<a href="https://veyther.neocities.org" target="_blank">
				<img src="/resources/images/buttons/veyther.png" alt="88x31 button leading to veyther.neocities.org">
			</a>
			<a href="https://vm70.neocities.org" target="_blank">
				<img src="/resources/images/buttons/vm70.gif" alt="88x31 button leading to vm70.neocities.org">
			</a>
			<a href="https://vukky.net" target="_blank">
				<img src="/resources/images/buttons/vukky.png" alt="88x31 button leading to vukky.net">
			</a>
			<a href="https://whiona.me/" target="_blank">
				<img src="/resources/images/buttons/whiona.png" alt="88x31 button leading to whiona.me">
			</a>
			<a href="https://wtrclover.neocities.org" target="_blank">
				<img src="/resources/images/buttons/wtrclover.gif" alt="88x31 button leading to wtrclover.neocities.org">
			</a>
			<p>
				If you want your button here just ask on <a href="https://neocities.org/site/pencilvoid" target="_blank" class="show-brackets">my Neocities profile</a>. If I think you're cool I'll add it.
			</p>
		</span>
	</div>
</section>
