<div class="sidenav">
	<a href="/">Index</a>
	<br>
	<a href="/aboutme">About Me</a>
	<br>
	<a href="/art">Art</a>
	<br>
	<a href="/games">Games</a>
	<br>
	<a href="/sieveplate">SievePlate</a>
	<br>
	<a href="/esoterrarium">Esoterrarium</a> (WIP)
	<br>
	<a href="https://neocities.org/site/pencilvoid" target="_blank">Neocities Profile</a>
	<br>
	<a href="https://github.com/PencilVoid/neocities-pencilvoid" target="_blank">Source repo</a>
		<hr>
	<span style="font-weight: bold">
		Buttons
	</span>
	<section class="dropdown" id="section-dropdown-sidebar">
		<input type="checkbox" name="collapse" id="dropdown-sidebar">
		<label class="dropdown-label" for="dropdown-sidebar"></label>
		<div class="dropdown-content">
			<span class="dropdown-hider">
				<a href="https://pencilvoid.neocities.org">
					<img src="/resources/images/buttons/pv_88x31.gif">
				</a>
				<hr style="opacity: 0.5; margin-right: 25%">
				<a href="https://arandomsite.neocities.org/" target="_blank">
					<img src="/resources/images/buttons/arandomsite.png" style="clear: both">
				</a>
				<a href="https://ashifolfi.neocities.org" target="_blank">
					<img src="/resources/images/buttons/ashifolfi.gif">
				</a>
				<a href="https://chipsfunfun.neocities.org/" target="_blank">
					<img src="/resources/images/buttons/chipsfunfun.PNG">
				</a>
				<a href="https://corq.neocities.org/" target="_blank">
					<img src="/resources/images/buttons/corq.png">
				</a>
				<a href="https://corru.observer/" target="_blank">
					<img src="/resources/images/buttons/corru.gif">
				</a>
				<a href="https://cloverbell.neocities.org" target="_blank">
					<img src="/resources/images/buttons/cloverbell.gif">
				</a>
				<a href="https://dannarchy.com" target="_blank">
					<img src="/resources/images/buttons/d_now.gif">
				</a>
				<a href="https://dawnvoid.neocities.org" target="_blank">
					<img src="/resources/images/buttons/dawnvoid.gif">
				</a>
				<a href="https://errormine.neocities.org" target="_blank">
					<img src="/resources/images/buttons/errormine.gif">
				</a>
				<a href="https://klonpa.neocities.org" target="_blank">
					<img src="/resources/images/buttons/klonpa.gif">
				</a>
				<a href="https://junebugjamboree.neocities.org" target="_blank">
					<img src="/resources/images/buttons/junebug.gif">
				</a>
				<a href="https://lapislabel.neocities.org/" target="_blank">
					<img src="/resources/images/buttons/lapislabel.gif">
				</a>
				<!-- 404 - FIX IT
				<a href="https://leafyeevee.neocities.org">
					<img src="/resources/images/buttons/leafy_eevee.gif">
				</a>
				-->
				<a href="https://marea.neocities.org/" target="_blank">
					<img src="/resources/images/buttons/marea88x31_v2.gif">
				</a>
				<a href="https://medulladeath.neocities.org" target="_blank">
					<img src="/resources/images/buttons/medulladeath.png">
				</a>
				<a href="https://metaparadox.neocities.org/" target="_blank">
					<img src="/resources/images/buttons/metaparadox.gif">
				</a>
				<a href="https://https://owlsroost.xyz/" target="_blank">
					<img src="/resources/images/buttons/owlsroost.gif">
				</a>
				<a href="https://sonc.neocities.org" target="_blank">
					<img src="/resources/images/buttons/soncsvoid.gif">
				</a>
				<a href="https://space-bar.neocities.org/" target="_blank">
					<img src="/resources/images/buttons/spacebar.gif" width="88">
				</a>
				<a href="https://the-canvas-garden.neocities.org/" target="_blank">
					<img src="/resources/images/buttons/the-canvas-garden.gif">
				</a>
				<a href="https://theki.club" target="_blank">
					<img src="/resources/images/buttons/theki.gif">
				</a>
				<a href="https://vukky.net/" target="_blank">
					<img src="/resources/images/buttons/vukkynow.png" >
				</a>
				<a href="https://wtrclover.neocities.org" target="_blank">
					<img src="/resources/images/buttons/wtrclover.gif">
				</a>
				<p>
					Neocities mutuals: feel free to request an 88x31 button to be added (or removed) to the sidebar by commenting on <a href="https://neocities.org/site/pencilvoid" target="_blank" class="show-brackets">my Neocities profile</a>.
				</p>
			</span>
		</div>
	</section>
</div>