$thin-screen-width: 840px;
$thin-screen-aspect-ratio: 0.5;

:root {
	--main-content-width: 80ch;
	--main-font: atkinson-hyperlegible;
	--monospace-font: fira-code;
	--header-font: inconsolata;
	--alt-font: overpass;
	--alt-mono-font: cascadia-code;
}
