$thin-screen-width: 840px;

:root {
	--main-content-width: 80ch;
	--main-font: atkinson-hyperlegible;
	--monospace-font: fira-code;
	--header-font: inconsolata;
	--alt-font: overpass;
	--alt-mono-font: cascadia-code;
}
