@use "abstracts/variables";

span.code-inline {
	font-family: var(--header-font, fira-code, variables.$mono-font-stack);
	font-size: 1.2rem;
	background-color: var(--sidebar-colour,#1C0023);
	color: var(--text-colour,#FFEAFC);
	padding: 0.125rem;

	@media (max-width: variables.$thin-screen-width) or (max-aspect-ratio: variables.$thin-screen-aspect-ratio) {
		font-size: 1rem;
	}
}

div.code-block {
	font-family: var(--header-font, fira-code, variables.$mono-font-stack);
	font-size: 1.2rem;
	background-color: var(--sidebar-colour,#1C0023);
	color: var(--text-colour,#FFEAFC);
	padding: 0.25rem;

	@media (max-width: variables.$thin-screen-width) or (max-aspect-ratio: variables.$thin-screen-aspect-ratio) {
		font-size: 1rem;
	}
}
