@use "abstracts/variables";

.row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
	gap: 0.875rem;
	margin: 2rlh 0;

	> a {
		display: grid;
		grid-template-columns: subgrid;
	}
}

.gallery {
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
	gap: 0;
	border: 1px solid var(--text-colour,#FFEAFC);

	&:hover {
		border: 1px solid var(--a-hover-colour,#FBD1FF);
	}
}

.image-row-item {
	display: flex;
	flex: 0 0 auto;
	flex-flow: row wrap;
	margin: 0.5rem;
	border: 1px solid var(--text-colour,#FFEAFC);
	max-width: 100%;
	max-height: min-content;
}

.gallery-img {
	align-self: center;
	margin: auto auto;
	max-width: 100%;
	max-height: 100%;
	font-size: 0;

	img {
		max-width: 100%;
	}
}

.gallery-large {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr;
	border: none;
	justify-content: center;
	max-width: 100%;
}

.gallery-large-item {
	margin: 0.5rem 0;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;

	> section {
		display: grid;
		grid-template-columns: subgrid;
	}

	details {
		justify-self: start;
	}
}

.gallery-large-img {
	grid-column: 1;

	img {
		max-width: 100%;
	}
}

.desc {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	font-family: var(--main-font, atkinson-hyperlegible-next, variables.$sans-serif-font-stack);
	font-size: 1.2rem;
	color: var(--text-colour);
	width: 100%;
	max-height: fit-content;
	align-self: end;
	border-top: 1px solid var(--text-colour,#FFEAFC);;

	@media (max-width: variables.$thin-screen-width) or (max-aspect-ratio: variables.$thin-screen-aspect-ratio) {
		font-size: 1rem;
	}
}

.desc-metadata {
	font-family: var(--monospace-font, atkinson-hyperlegible-mono, variables.$mono-font-stack);
	color: var(--text-colour,#FFEAFC);
	background-color: rgba(255, 255, 255, 0.15);
	text-align: center;
	line-height: 1.5;

	@media (max-width: variables.$thin-screen-width) or (max-aspect-ratio: variables.$thin-screen-aspect-ratio) {
		font-size: 1rem;
	}
}

.gallery-metadata {
	font-family: var(--monospace-font, atkinson-hyperlegible-mono, variables.$mono-font-stack);
	color: var(--text-colour,#FFEAFC);
	background-color: rgba(255, 255, 255, 0.15);

	@media (max-width: variables.$thin-screen-width) or (max-aspect-ratio: variables.$thin-screen-aspect-ratio) {
		font-size: 1rem;
	}
}
.pixelated-img {
	image-rendering: crisp-edges;
}
