hr {
	color: var(--hr-colour,var(--text-colour,#FF417D));
	display: block;
	border: none;
	height: 0;
	border-style: double;
	margin: 1.5lh 0;
}

span.hr-light {
	color: var(--tone-colour,#FFFFFF);
	display: block;
	border: 1px dotted;
	max-height: 1px;
	width: auto;
	box-sizing: border-box;
	margin: 1lh 5%;
}
