---
---

/* --- Variables --- */

$thin-screen-width: 840px;

:root {
	--main-content-width: 80ch;
}

/* --- Headers --- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--header-colour,#220029);
	border-bottom: 1px solid white;
	padding: 0.1ex;
	margin: 0.75rem 0;
	box-sizing: border-box;
	width: 100%;
	text-decoration: none;
	text-align: left;
	font-family: var(--header-font,inconsolata, monospace);
	transition: font-size 0.5s cubic-bezier(0, 0.5, 0.25, 1),
		font-weight 0.5s cubic-bezier(0, 0.5, 0.25, 1),
		font-stretch 0.5s cubic-bezier(0, 0.5, 0.25, 1);
}
h1 {
	background-color: rgba(255, 255, 255, 0.75);
	font-size: 4rem;
	font-weight: 750;
	font-stretch: 150%;
}

h2 {
	background-color:rgba(255, 255, 255, 0.5);
	font-size: 2.67rem;
	font-weight: 650;
	font-stretch: 137.5%;
}

h3 {
	background-color: rgba(255, 255, 255, 0.35);
	font-size: 2.2rem;
	font-weight: 550;
	font-stretch: 125%;
}

h4 {
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 1.67rem;
	font-weight: 500;
	font-stretch: 112.5%;
}

h5 {
	background-color: rgba(255, 255, 255, 0.15);
	font-size: 1.5rem;
	font-weight: 450;
	font-stretch: 100%;
}

h6 {
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 1.2rem;
	font-weight: 400;
	font-stretch: 100%;
}

/* --- Smaller headers on small screens --- */

@media screen and (max-width: $thin-screen-width) {
	h1 {
		font-size: 2.6rem;
		font-weight: 750;
		font-stretch: 135%;
	}

	h2 {
		font-size: 2.35rem;
		font-weight: 650;
		font-stretch: 125%;
	}

	h3 {
		font-size: 2rem;
		font-weight: 550;
		font-stretch: 112.5%;
	}

	h4 {
		font-size: 1.35rem;
		font-weight: 500;
		font-stretch: 100%;
	}

	h5 {
		font-size: 1.2rem;
		font-weight: 450;
		font-stretch: 100%;
	}

	h6 {
		font-size: 1rem;
		font-weight: 400;
		font-stretch: 100%;
	}
}

/* --- Text Styling --- */

body {
	font-family: var(--main-font,atkinson-hyperlegible, sans-serif);
	font-size: 1.2rem;
	text-align: left;
	color: var(--text-colour,#FFEAFC);
	transition: font-size 0.5s cubic-bezier(0, 0.5, 0.25, 1);
}

@media screen and (max-width: $thin-screen-width) {
	body {
		font-size: 1rem;
	}
}

p,
ul,
ol,
fieldset > div {
	line-height: 1.5;
}

/* --- Link Styling --- */

a {
	border: none;
	color: var(--a-colour,#FF9EBC);
	text-decoration: none;

	&:visited {
		color: var(--a-visited-colour,#FF7FAC);
	}

	&:hover {
		color: var(--a-hover-colour,#FBD1FF);
	}

	&:active {
		color: var(--a-active-colour,#FFFFFF);
	}

	&:not([nobrackets="true"]):not(#section-dropdown-sidebar > div.dropdown-content > span.dropdown-hider > a) {
		&:hover,
		&:active {
			text-decoration: underline;
		}

		&:not(.btn-secondary) {
			&:before {
				content: "[[";
				opacity: 0.7;
			}

			&::after {
				content: "]]";
				opacity: 0.7;
			}
		}
	}

	&[target="_blank"]:not([nobrackets="true"]):not(#section-dropdown-sidebar > div.dropdown-content > span.dropdown-hider > a):not(btn-secondary),
	#section-dropdown-sidebar p > & {
		&::before {
			content: "[";
			opacity: 0.7;
		}

		&::after {
			content: "]";
			opacity: 0.7;
		}
	}

	&.keyboard-nav-link {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;

		&:focus {
			position: static;
			left: 0;
			top: 0;
			width: auto;
			height: auto;
			overflow: auto;

			~ #keyboard-nav-separator {
				visibility: visible;
				position: static;
				left: 0;
				top: 0;
				width: auto;
				height: auto;
				overflow: auto;
			}
		}

		~ #keyboard-nav-separator {
			visibility: hidden;
			position: absolute;
			left: -10000px;
			top: auto;
			width: 1px;
			height: 1px;
			overflow: hidden;
		}
	}
}

/* --- Background Gradient Pseudo-image --- */

body {
	background-color: var(--bg-checkerdark,#42004E);
	background-image: linear-gradient(to bottom left, transparent 0%, transparent 50%, var(--bg-triangle,#220029) 50%, var(--bg-triangle,#220029) 100%),
	linear-gradient(45deg, var(--bg-checkerlight,#680068) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight,#680068) 75%, var(--bg-checkerlight,#680068)),
	linear-gradient(45deg, var(--bg-checkerlight,#680068) 25%, var(--bg-checkerdark,#42004E) 25%, var(--bg-checkerdark,#42004E) 75%, var(--bg-checkerlight,#680068) 75%, var(--bg-checkerlight,#680068));
	background-size: 100lvw 100lvh, 64px 64px, 64px 64px;
	background-position: 0 0, 32px 32px, 0 0;
	background-attachment: fixed, scroll, scroll;
}

/* --- Horizontal Rule --- */

hr {
	color: var(--hr-colour,var(--text-colour,#FF417D));
	display: block;
	border: none;
	height: 0;
	border-style: double;
}

span.hr-light {
	color: var(--tone-colour,#FFFFFF);
	display: block;
	border: 1px dotted;
	max-height: 1px;
	width: auto;
	box-sizing: border-box;
	margin-bottom: 1em;
	padding-left: 10%;
	padding-right: 10%;
}

/* --- Division & Span Styles --- */

span.code-inline {
	font-family: var(--monospace-font,fira-code, monospace);
	font-size: 1.2rem;
	background-color: var(--sidebar-colour,#1C0023);
	color: var(--text-colour,#FFEAFC);
	padding: 0.125rem;

	@media screen and (max-width: $thin-screen-width) {
		font-size: 1rem;
	}
}

div.code-block {
	font-family: var(--monospace-font,fira-code, monospace);
	font-size: 1.2rem;
	background-color: var(--sidebar-colour,#1C0023);
	color: var(--text-colour,#FFEAFC);
	padding: 0.25rem;

	@media screen and (max-width: $thin-screen-width) {
		font-size: 1rem;
	}
}

span.post-list-title {
	font-size: 2rem;
}

span.small-text {
	font-size: 0.85rem;
}

/* --- Interjection boxes --- */

div.info,
div.warning,
div.deny,
div.urgent {
	margin: 1rem 7.5%;
	min-height: 5rem;
	box-sizing: border-box;
}

div.urgent {
	border-left: 1px solid white;
	border-right: 1px solid white;
}

div.info > .info-content,
div.warning > .warning-content,
div.deny > .deny-content,
div.urgent > .urgent-content {
	background-color: rgba(255, 255, 255, 0.1);
	background-position: -2.5% 50%;
	background-repeat: no-repeat;
	background-size: auto 120%;
	padding: 1rem;
}

div.info > .info-content {
	background-image: url(/resources/images/backgrounds/watermark_info.svg);
}

div.warning > .warning-content {
	background-image: url(/resources/images/backgrounds/watermark_warning.svg);
}

div.deny > .deny-content {
	background-image: url(/resources/images/backgrounds/watermark_deny.svg);
}

div.urgent > .urgent-content {
	background-image: url(/resources/images/backgrounds/watermark_urgent.svg);
}

div.info > .info-header,
div.warning > .warning-header,
div.deny > .deny-header,
div.urgent > .urgent-header {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.375);
	border-bottom: 1px solid white;
	padding: 0.1ex;
	padding-left: 0.5rem;
	box-sizing: border-box;
	width: 100%;
	text-decoration: none;
	text-align: left;
	font-family: var(--header-font,inconsolata, monospace);
	font-size: 1.5rem;
	font-weight: 400;
	font-stretch: 100%;
}

/* --- Red border for alt text-less images --- */

img:not([alt]) {
	border: dashed red 0.25rem;
}

/* --- Gallery Styling --- */

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 100%;
	height: auto;
	margin: 0.625rem 0;
	justify-content: center;
}

.gallery {
	display: flex;
	flex: auto;
	flex-flow: column wrap;
	margin: 0.25rem;
	border: 1px solid var(--text-colour,#FFEAFC);
	max-width: fit-content;
	justify-content: center;

	&:hover {
		border: 1px solid var(--a-hover-colour,#FBD1FF);
	}
}

.image-row-item {
	display: flex;
	flex: 0 0 auto;
	flex-flow: row wrap;
	margin: 0.5rem;
	border: 1px solid var(--text-colour,#FFEAFC);
	max-width: 100%;
	max-height: min-content;
}

.gallery-img {
	align-self: end;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;

	img {
		width: fit-content;
		height: fit-content;
		max-width: 100%;
		max-height: 100%;
	}
}

.gallery-large-img img {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	flex-flow: column wrap;
	max-width: 100%;
}

.gallery-large {
	display: flex;
	flex-flow: row wrap;
	margin: 0.3125rem;
	border: none;
	justify-content: center;
	max-width: 100%;
}

.desc {
	display: flex;
	flex: 0 0 auto;
	flex-flow: column wrap;
	font-family: var(--main-font,atkinson-hyperlegible, sans-serif);
	font-size: 1.2rem;
	color: var(--text-colour);
	width: 100%;
	max-height: fit-content;
	justify-content: center;
	align-self: end;

	@media screen and (max-width: $thin-screen-width) {
		font-size: 1rem;
	}
}

.desc-metadata {
	font-family: var(--alt-mono-font,overpass-mono, monospace);
	color: var(--text-colour,#FFEAFC);
	background-color: rgba(255, 255, 255, 0.15);
	text-align: center;

	@media screen and (max-width: $thin-screen-width) {
		font-size: 1rem;
	}
}

figure {
	float: right;
	clear: right;
	margin: 0.5rem;
	padding: 0.5rem;
	border: 1px solid var(--text-colour,#FFEAFC);
	height: fit-content;
	width: min-content;
	max-width: 20rem;

	img {
		max-width: 20rem;
	}
}

figcaption {
	font-size: 0.85rem;
	border-top: 1px solid var(--hr-colour,var(--text-colour,#FF417D));
	padding: 0.25rem;
}

fieldset {
	border: none;
}

blockquote p:not(.hcb-comment-body) {
	border-left: 0.125rem solid var(--text-colour,#FF417D);
	padding-left: 1rem;
}

/* --- Inline icons --- */

span.inline-icon,
span.inline-icon-from-class::after {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	vertical-align: -0.125rem;
}

span.icon-ufsc-open::after {
	content: url("/resources/images/icons/icon_ufsc_open.svg");
}

span.icon-ufsc-avail::after {
	content: url("/resources/images/icons/icon_ufsc_avail.svg");
}

span.icon-ufsc-closed::after {
	content: url("/resources/images/icons/icon_ufsc_closed.svg");
}

span.icon-ufsc-paygate::after {
	content: url("/resources/images/icons/icon_ufsc_paygate.svg");
}

/* --- Dropdowns --- */

details {
	transition: height 0.375s cubic-bezier(0, 0.5, 0.25, 1);

	> p {
		border-top: 1px solid var(--tone-colour,#FFFFFF);
		border-right: 1px dashed var(--tone-colour,#FFFFFF);
		border-bottom: 1px dashed var(--tone-colour,#FFFFFF);
		border-left: 1px dashed var(--tone-colour,#FFFFFF);
		padding: 0.75rem;
		margin-top: 0;
		max-width: 100%;
	}

	summary {
		font-size: 1rem;
		width: fit-content;
		padding: 0.5rem;
		color: var(--tone-colour,#FFFFFF);
		font-family: var(--main-font,overpass, sans-serif);
		background-color: var(--tone-colour,#FFFFFF);
		background-color: rgba(255, 255, 255, 0.1);
		border-left: 1px solid var(--tone-colour,#FFFFFF);
		list-style: inside url("/resources/images/icons/icon_dropdown.svg");
		cursor: pointer;

		&::marker {
			transform: rotate(0deg);
			transition: transform 0.375s cubic-bezier(0, 0.5, 0.25, 1);
		}
	}

	&[open] summary::marker {
		transform: rotate(90deg);
		transition: transform 0.375s cubic-bezier(0, 0.5, 0.25, 1);
	}
}

/* --- Custom dropdowns --- */

label.dropdown-label {
	font-size: 1rem;
	display: inline-block;
	padding: 0.5rem;
	color: var(--tone-colour,#FFFFFF);
	font-family: var(--main-font,overpass, sans-serif);
	background-color: var(--tone-colour,#FFFFFF);
	background-color: rgba(255, 255, 255, 0.1);
	border-left: 1px solid var(--tone-colour,#FFFFFF);
}

input[type="checkbox"]:not(#display-bg-checker) {
	appearance: none;
	content: url("/resources/images/icons/icon_dropdown.svg");
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	transform: rotate(0deg);
	transition: transform 0.375s cubic-bezier(0, 0.5, 0.25, 1);

	~ label.dropdown-label::before {
		content: "Show"
	}

	&:checked {
		content: url("/resources/images/icons/icon_dropdown.svg");
		width: 1rem;
		height: 1rem;
		vertical-align: middle;
		transform:  rotate(90deg);
		transition: transform 0.375s cubic-bezier(0, 0.5, 0.25, 1);

		~ label.dropdown-label::before {
			content: "Hide"
		}
	}
}

.dropdown {
	.dropdown-content {
		overflow: hidden;
		height: 0;
		transition: height 0.375s cubic-bezier(0, 0.5, 0.25, 1);
		border-top: 1px solid var(--tone-colour,#FFFFFF);
		border-right: none;
		border-bottom: none;
		border-left: none;
		padding: 0;
		margin-bottom: 1rem;

		> .dropdown-hider {
			display: none;
		}
	}

	> input[name="collapse"]:checked ~ .dropdown-content {
		height: auto;
		transition: height 0.375s cubic-bezier(0, 0.5, 0.25, 1);
		overflow: auto;
		border-top: 1px solid var(--tone-colour,#FFFFFF);
		border-right: 1px dashed var(--tone-colour,#FFFFFF);
		border-bottom: 1px dashed var(--tone-colour,#FFFFFF);
		border-left: 1px dashed var(--tone-colour,#FFFFFF);
		padding: 0.75rem;
		max-width: 100%;

		@media screen and (max-width: $thin-screen-width) {
			padding: 0.5rem;
		}

		> .dropdown-hider {
			display: contents;
		}
	}
}

/* --- Special dropdowns --- */

.rightbox .dropdown-display-controls,
.sidenav-hamburger .dropdown-sidenav-hamburger {
	margin: 0.5rem;
}

.dropdown-display-controls {
	.dropdown-content {
		overflow: hidden;
		height: 0;
		transition: height 0.375s cubic-bezier(0, 0.5, 0.25, 1);
		border-top: none;
		border-right: none;
		border-bottom: none;
		border-left: none;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-top: 0;
		margin-bottom: 0;
		max-height: 50vh;

		@media screen and (max-width: $thin-screen-width) {
			max-height: 30vh;
		}

		> .dropdown-hider {
			display: none;
		}
	}

	> input[name="collapse"]:checked ~ .dropdown-content {
		overflow: auto;
		height: auto;
		transition: height 0.375s cubic-bezier(0, 0.5, 0.25, 1);
		padding: 0.75rem;
		border-top: 1px solid var(--tone-colour,#FFFFFF);
		border-right: 1px dashed var(--tone-colour,#FFFFFF);
		border-bottom: 1px dashed var(--tone-colour,#FFFFFF);
		border-left: 1px dashed var(--tone-colour,#FFFFFF);

		> .dropdown-hider {
			display: contents;
		}
	}

	input[type="checkbox"]:not(#display-bg-checker) {
		appearance: none;

		~ label.dropdown-label::before {
			content: "Show display controls"
		}

		&:checked ~ label.dropdown-label::before {
			content: "Hide display controls"
		}
	}
}

.dropdown-sidenav-hamburger {
	> .dropdown-content {
		overflow: hidden;
		height: 0;
		transition: height 0.375s cubic-bezier(0, 0.5, 0.25, 1);
		border-top: none;
		border-right: none;
		border-bottom: none;
		border-left: none;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-top: 0;
		margin-bottom: 0;

		> .dropdown-hider {
			display: none;
		}
	}

	> input[name="collapse"]:checked ~ .dropdown-content {
		overflow: auto;
		height: auto;
		transition: height 0.375s cubic-bezier(0, 0.5, 0.25, 1);
		padding: 0.75rem;
		border-top: 1px solid var(--tone-colour,#FFFFFF);
		border-right: 1px dashed var(--tone-colour,#FFFFFF);
		border-bottom: 1px dashed var(--tone-colour,#FFFFFF);
		border-left: 1px dashed var(--tone-colour,#FFFFFF);

		> .dropdown-hider {
			display: contents;
		}
	}

	> input[type="checkbox"]:not(#display-bg-checker) ~ label.dropdown-label::before {
		content: "Show navigation"
	}

	> input[type="checkbox"]:not(#display-bg-checker):checked ~ label.dropdown-label::before {
		content: "Hide navigation"
	}
}

.sidenav-hamburger {
	z-index: 1;
	background-color: var(--sidebar-colour,#1C0023);
	position: sticky;
	top: 0;
	width: 100%;
	display: none;

	@media screen and (max-width: $thin-screen-width) {
		display: inline-block;
	}

	.dropdown-sidenav-hamburger > input[type="checkbox"]:not(#display-bg-checker):checked ~ .dropdown-content {
		height: 50vh;
		max-height: 50vh;
	}
}

@media screen and (max-width: $thin-screen-width) {
	.dropdown-display-controls,
	.dropdown-sidenav-hamburger {
		> input[name="collapse"]:checked ~ .dropdown-content {
			padding: 0.5rem;
		}
	}

	.rightbox .dropdown-display-controls,
	.sidenav-hamburger .dropdown-sidenav-hamburger {
		margin: 0.25rem;
	}
}

/* --- Input --- */

button,
input[type="number"] {
	font-family: var(--main-font,atkinson-hyperlegible, sans-serif);
	font-size: 1.2rem;
	text-align: left;
	border: 1px solid var(--a-colour,#FF9EBC);
	color: var(--a-colour,#FF9EBC);
	text-decoration: none;
	background-color: transparent;
	line-height: 1.5;

	&:hover {
		border: 1px solid var(--a-hover-colour,#FBD1FF);
		color: var(--a-hover-colour,#FBD1FF);
		text-decoration: underline dotted var(--a-hover-colour,#FBD1FF);
	}

	&:active {
		border: 1px solid var(--a-active-colour,#FFFFFF);
		color: var(--a-active-colour,#FFFFFF);
		text-decoration: underline dotted var(--a-hover-colour,#FBD1FF);
	}
}

.rightbox {
	button {
		font-size: 1rem;
	}

	input[type="number"] {
		width: 4rem;
		font-size: 1rem;
	}
}

input[type="radio"] {
	appearance: none;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	border: 2px solid var(--a-colour,#FF9EBC);
	transition: 0.2s all linear;
	margin-right: 5px;
	position: relative;
	top: 4px;

	&:hover {
		border: 3px solid var(--a-hover-colour,#FBD1FF);
	}

	&:active {
		border: 7px solid var(--a-active-colour,#FFFFFF);
	}

	&:checked {
		border: 6px solid var(--a-colour,#FF9EBC);
	}
}

/* --- Scrollbar --- */

* {
	scrollbar-color: var(--hr-colour,var(--text-colour,#FF417D)) transparent;

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--hr-colour,var(--text-colour,#FF417D));
	}
}


/* --- bruh --- */

body {
	margin: 0;
	border: none;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
}

/* --- Sidenav Styling --- */

.sidenav {
	outline: none;
	border-style: none;
	background-image: none;
	height: 100%;
	width: 13.75vw;
	min-width: 8.75rem;
	padding: 0.75rem;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--sidebar-colour,#1C0023);
	font-size: 1rem;
	overflow: auto;

	@media screen and (max-width: $thin-screen-width) {
		display: none;
	}
}

.rightbox {
	outline: none;
	border-style: none;
	background-image: none;
	width: 13.75vw;
	min-width: 8.75rem;
	position: fixed;
	vertical-align: bottom;
	z-index: 2;
	bottom: 0;
	right: 0;
	background-color: var(--rightbox-colour,#1c002380);
	font-size: 1rem;

	@media screen and (max-width: $thin-screen-width) {
		outline: none;
		border-style: none;
		background-image: none;
		min-width: none;
		width: 100%;
		left: 0;
		right: auto;
		background-color: var(--sidebar-colour,#1C0023);
		font-size: 1rem;
	}
}

#section-dropdown-sidebar a {
	&::before {
		content: "";
		opacity: 0.7;
	}

	&::after {
		content: "";
		opacity: 0.7;
	}
}

/* --- Separate main content from sidebar --- */

.content {
	margin: 0 auto;
	padding: 0;
	width: 60vw;
	max-width: var(--main-content-width,80ch);

	@media screen and (max-width: $thin-screen-width) {
		width: 90vw;
	}
}
