---
layout: default_feed_meta
title: SievePlate
description: 99% pure thoughts!
header: SievePlate
customcss: ":root {
	--header-colour: #18294F;
	--bg-colour: #108587;
	--bg-checkerdark: #108587;
	--bg-checkerlight: #10A891;
	--bg-triangle: #196E64;
	--sidebar-colour: #074156;
	--text-colour: #B2FFB2;
	--a-colour: #8BFF56;
	--a-visited-colour: #2CE06E;
	--a-hover-colour: #B2FFB2;
	--a-active-colour: #FFFFFF;
	--hr-colour: #3FF460;

	--main-font: atkinson-hyperlegible;
	--monospace-font: fira-code;
	--header-font: inconsolata;
	--alt-font: overpass;
	--alt-mono-font: overpass-mono;
}"
---
<p>
	SievePlate is basically a blog. I don't have much to talk about so expect infrequent updates. But as they say, quality over quantity (???)
</p>
<h2>By date</h2>
<ul>
	{% for post in site.posts %}
		<li>
			<span class="post-list-title"><a href="{{ post.url }}">{{ post.title }}</a></span>
			<em class="bold">{{ post.date | date_to_string }}</em>
			{{ post.excerpt }}
		</li>
	{% endfor %}
</ul>

<h2>Browse by tag</h2>

<section class="dropdown">
	<input type="checkbox" name="collapse" id="dropdown-taglist" checked>
	<label class="dropdown-label" for="dropdown-taglist"></label>
	<div class="dropdown-content">
		<span class="dropdown-hider">
			{% for tag in site.tags %}
				<em class="bold">{{ tag[0] }}</em>
				<ul>
					{% for post in tag[1] %}
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			{% endfor %}
		</span>
	</div>
</section>

<hr>
<em class="bold"><a href="/sieveplate/feed.xml">Atom/RSS Feed</a></em>
<p>
	You can use your feed reader's "find feeds in current tab" tool to subscribe to SievePlate's Atom feed.
</p>