.eso-deco-bottomright {
	position: fixed;
	bottom: 0;
	right: 0;
	overflow: visible;
	image-rendering: crisp-edges;
	z-index: -1;
}

.eso-deco-topright {
	position: fixed;
	top: 0;
	right: 0;
	overflow: visible;
	image-rendering: crisp-edges;
	z-index: -1;
}

@media screen and (max-width: 840px), screen and (max-height: 512px) {
	.eso-deco-bottomright,
	.eso-deco-topright {
		display: none
	}
}

.eso-deco-br-grass-front {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.eso-deco-br-grass-back {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -3;
}

.eso-deco-br-red-flower-1 {
	position: absolute;
	z-index: -2;
	bottom: 0;
	right: 104px;
	animation: flower-wave 5s ease-in-out -2.5s infinite alternate;
	transform-origin: bottom center;
	image-rendering: crisp-edges;
}

.eso-deco-br-red-flower-2 {
	position: absolute;
	z-index: -2;
	bottom: 0;
	right: 241px;
	animation: flower-wave 9s ease-in-out -4.5s infinite alternate-reverse;
	transform-origin: bottom center;
	image-rendering: crisp-edges;
}

.eso-deco-br-red-flower-3 {
	position: absolute;
	z-index: -2;
	bottom: 0;
	right: 411px;
	animation: flower-wave 7s ease-in-out -3.5s infinite alternate;
	transform-origin: bottom center;
	image-rendering: crisp-edges;
}

.eso-deco-tr-leaf-1 {
	position: absolute;
	z-index: -2;
	top: -16px;
	right: -24px;
	animation: leaf-wave-1 3s ease-in-out 0s infinite alternate;
	transform-origin: 232px 16px;
}

.eso-deco-tr-leaf-2 {
	position: absolute;
	z-index: -3;
	top: -16px;
	right: -24px;
	animation: leaf-wave-2 5s ease-in-out -0.5s infinite alternate;
	transform-origin: 232px 16px;
}

.eso-deco-tr-leaf-3 {
	position: absolute;
	z-index: -4;
	top: -16px;
	right: -24px;
	animation: leaf-wave-3 4s ease-in-out -1s infinite alternate;
	transform-origin: 232px 16px;
}

@keyframes leaf-wave-1 {
	0% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(20deg);
	}
}

@keyframes leaf-wave-2 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}

@keyframes leaf-wave-3 {
	0% {
		transform: rotate(-25deg);
	}
	100% {
		transform: rotate(-30deg);
	}
}

@keyframes flower-wave {
	0% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(5deg);
	}
}

@media (prefers-reduced-motion: reduce) {
	.eso-deco-tr-leaf-1,
	.eso-deco-tr-leaf-2,
	.eso-deco-tr-leaf-3,
	.eso-deco-br-red-flower-1,
	.eso-deco-br-red-flower-2,
	.eso-deco-br-red-flower-3 {
		animation-play-state: paused;
	}
}
