span.inline-icon,
span.inline-icon-from-class::after {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	vertical-align: -0.125rem;
}

span.icon-ufsc-open::after {
	content: url("/assets/images/icons/icon_ufsc_open.svg");
}

span.icon-ufsc-avail::after {
	content: url("/assets/images/icons/icon_ufsc_avail.svg");
}

span.icon-ufsc-closed::after {
	content: url("/assets/images/icons/icon_ufsc_closed.svg");
}

span.icon-ufsc-paygate::after {
	content: url("/assets/images/icons/icon_ufsc_paygate.svg");
}
