h1 {
	color: var(--header-colour);
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.75) ;
	border-bottom: 1px solid white;
	padding : 4px ;
	text-decoration: none ;
	text-align: left ;
	font-size: 48pt;
	weight: 650;
}
h2 {
	color: var(--header-colour);
	background-color: #fff;
	background-color:rgba(255, 255, 255, 0.5) ;
	border-bottom: 1px solid white;
	padding : 4px ;
	text-decoration: none ;
	text-align: left;
	font-size: 36pt;
	weight: 600;
}
h3 {
	color: var(--text-colour);
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.35) ;
	border-bottom: 1px solid white;
	padding : 4px ;
	text-decoration: none ;
	text-align: left;
	font-size: 24pt;
	weight: 550;
}
h4 {
	color: var(--text-colour);
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.2) ;
	border-bottom: 1px solid white;
	padding : 4px ;
	text-decoration: none ;
	text-align: left;
	weight: 500;
}
@font-face {
	font-family: DTM-Sans;
	src: url(DTM-Sans.otf);
}
@font-face {
	font-family: Inconsolata;
	src: url(https://pencilvoid.neocities.org/resources/Inconsolata-VariableFont_wdth,wght.ttf);
}
body {
	font-family: Inconsolata;
	font-size: 14pt;
}
bold {
	font-weight : bold ;
}
ital {
	font-style : italic ;
}
body {
	background-color: var(--bg-color);
	background-color: var(--bg-checkerdark);
	background-image: linear-gradient(to bottom left , transparent 0%, transparent 50%, var(--bg-triangle) 50%, var(--bg-triangle) 100%),linear-gradient(45deg, var(--bg-checkerlight) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight) 75%, var(--bg-checkerlight)), linear-gradient(45deg, var(--bg-checkerlight) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight) 75%, var(--bg-checkerlight));
	background-size: 100vw 100vh, 64px 64px, 64px 64px;
	background-position: 0 0, 32px 32px;
	background-attachment: fixed, scroll, scroll;
}
img {
	display: inline;
}
div {
	padding : 2 ;
	border : none ;
}
.factDisplay {
	display: inline;
}
.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	min-height: 300px;
	max-width: 240px;
	border : none ;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-align: left
}
.absolute {
	position: absolute;
	top: 80px;
	right: 0;
	width: 200px;
	height: 100px;
	border: none;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
}
.relative {
	position: relative;
	left: 0;
	border: none;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
}
.card {
	background: #ff8989;
	text-align: center;
}
nav {
	position: fixed;
	max-width: 25%;
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
	padding : 0 ;
	border : 5px #000 ;
}
div.gallery {
	margin: 5px;
	border: 1px solid var(--text-colour);
	float: left;
	width: 32%;
	height: max-content;
}

div.gallery:hover {
	border: 1px solid var(--a-hover-colour);
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
} 
.desc {
	padding-top: 8px;
		padding-bottom: 8px;
	text-align: center;
	margin: auto;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.15) ;
}
.srb2gallery {
	margin: auto;
	border: 1px solid #ccc;
	background-image: url("/resources/showcasepane.png");
	width: 50%;
	padding: 5px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
}

div.srb2gallery img {
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
}
.HCB_comment_box {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5) ;
}
.srb2desc {
	padding: 15px;
	text-align: center;
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
}
a {
	border : none ;
	text-decoration: underline;
}
hr {
	 color : var(--hr-colour);
	 display: block;
	 border: none;
	 height: 0px;	
	 border-style: double;
}
body {
	text-align: left ;
	color: var(--text-colour);
}
/* unvisited link */
a:link {
	color: var(--a-colour);
}

/* visited link */
a:visited {
	color: var(--a-visited-colour);
}

/* mouse over link */
a:hover {
	color: var(--a-hover-colour);
}

/* selected link */
a:active {
	color: var(--a-active-colour);
}
a::before { 
	content: "[[";
	opacity: 0.7;
}
a::after { 
	content: "]]";
	opacity: 0.7;
}
a[target="_blank"]::before { 
	content: "[";
	opacity: 0.7;
}
a[target="_blank"]::after { 
	content: "]";
	opacity: 0.7;
}
a[nobrackets="true"]::after { 
	content: "";
	opacity: 0.7;
}
a[nobrackets="true"]::before { 
	content: "";
	opacity: 0.7;
}
iframe {
	outline: none;
	border-style: none;
	background-image: none;
}

/* The sidebar menu */
.sidenav {
		height: 100%; /*height: 100%; Full-height: remove this if you want "auto" height */
		width: 13.45%; /* Set the width of the sidebar */
		position: fixed; /* Fixed Sidebar (stay in place on scroll) */
		z-index: 1; /* Stay on top */
		top: 0; /* Stay at the top */
		left: 0;
		background-color: var(--sidebar-colour);
		/*background-image: linear-gradient(to top, #ffff99, #00ccff 75%);
		background-image: url(triangle.png), url(checker.png);
		background-position: left-top, left top;
		background-repeat: no-repeat, repeat;
		background-attachment: fixed, scroll;*/
}
/* Style page content */
main {
		margin-left: 15%; /* Same as the width of the sidebar */
		margin-right: 15%; /* Same as the width of the sidebar */
		padding: 4px ;
		/*background: rgb(240, 240, 240) ;
		background: rgba(240, 240, 240, 0.25) ;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) 
@media screen and (max-height: 450px) {
		.sidenav {padding-top: 15px;}
		.sidenav a {font-size: 18px;}
}*/
		