h1 {
	color: royalblue ;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.75) ;
	border-bottom: 1px solid white;
	padding : 4px ;
	text-decoration: none ;
	text-align: left ;
	font-size: 48px;
}
h2 {
	color: skyblue ;
	background-color: #fff;
	background-color:rgba(255, 255, 255, 0.5) ;
	border-bottom: 1px solid white;
	padding : 4px ;
	text-decoration: none ;
	text-align: left;
	font-size: 36px;
}
h3 {
	color: paleturquoise ;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.35) ;
	border-bottom: 1px solid white;
	padding : 4px ;
	text-decoration: none ;
	text-align: left;
	font-size: 24px;
}
h4 {
	color: paleturquoise ;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.2) ;
	border-bottom: 1px solid white;
	padding : 4px ;
	text-decoration: none ;
	text-align: left;
}
@font-face {
  font-family: CasioFX115ESPlus;
  src: url(https://pencilvoid.neocities.org/resources/casio-fx-115es-plus.ttf);
}
@font-face {
  font-family: Unifont;
  src: url(https://pencilvoid.neocities.org/resources/unifont.ttf);
}
@font-face {
  font-family: Modeseven;
  src: url(https://pencilvoid.neocities.org/resources/Modeseven-L3n5.ttf)
}
@font-face {
  font-family: GreenScreen;
  src: url(https://pencilvoid.neocities.org/resources/GreenScreen-OAj3.ttf);
}
@font-face {
  font-family: PixAntiqua;
  src: url(https://pencilvoid.neocities.org/resources/Pixantiqua-24l8.ttf);
}
bold {
  font-weight : bold ;
}
ital {
  font-style : italic ;
}
body {
  background-color: #57DDDC;
  background-image: linear-gradient(to top, #0070B2, #9E9E1A 75%);
  background-image: url("background_darkmode.png");
  background-repeat: repeat;
  background-attachment: fixed;
}
img {
	display: inline;
}
div {
	padding : 2 ;
	border : none ;
}
.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	min-height: 300px;
	max-width: 240px;
	border : none ;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-align: left
}
.absolute {
	position: absolute;
	top: 80px;
	right: 0;
	width: 200px;
	height: 100px;
	border: none;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
}
.relative {
	position: relative;
	left: 0;
	border: none;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
}
.card {
	background: #ff8989;
	text-align: center;
}
nav {
	position: fixed;
	max-width: 25%;
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
	padding : 0 ;
	border : 5px #000 ;
}
.gallery {
	margin: auto;
	border: 1px solid #ccc;
	width: 512px;
	background-image: url("/resources/showcasepane.png");
}
div.gallery:hover {
	border: 1px solid #777;
	margin: auto;
}

div.gallery img {
	margin: auto;
}

.desc {
	padding: 15px;
	text-align: center;
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
}
.srb2gallery {
	margin: auto;
	border: 1px solid #ccc;
	background-image: url("/resources/showcasepane.png");
  width: 50%;
  padding: 5px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5) ;
}

div.srb2gallery img {
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
}
.HCB_comment_box {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5) ;
}
.srb2desc {
	padding: 15px;
	text-align: center;
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5) ;
}
a {
	border : none ;
	text-decoration: underline;
}
hr {
	 color : #FF417D;
	 display: block;
	 border: none;
	 height: 10px;
	 background-image: url(https://pencilvoid.neocities.org/resources/hr.png);
}
body {
	text-align: left ;
	color: #E2D9F6;
}
/* unvisited link */
a:link {
	color: #EBE7FF;
}

/* visited link */
a:visited {
	color: #E5EAF6;
}

/* mouse over link */
a:hover {
	color: #E5EAF6;
}

/* selected link */
a:active {
	color: #8AA9E4;
}
a {
	font-size: 100%;
}
p {
	font-size: 100%;
}
body {
  font-family: PixAntiqua;
  font-size: 18px;
}
iframe {
  outline: none;
  border-style: none;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /*height: 100%; Full-height: remove this if you want "auto" height */
    width: 256px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: transparent; /* Black */
    background-image: linear-gradient(to top, #A39200, #00AC27);
    background-image: url("sidebar_darkmode.png");
    background-attachment: fixed;
    overflow: hidden; /* Disable horizontal scroll */
}
/* Style page content */
main {
    margin-left: 20%; /* Same as the width of the sidebar */
    margin-right: 20%; /* Same as the width of the sidebar */
    padding: 0px ;
    /*background: rgb(240, 240, 240) ;
	  background: rgba(240, 240, 240, 0.25) ;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
    