---
title: Art Gallery
description: My best works and not so best works
header: Art Gallery
css:
  dark:
    header-colour: "#3B063A"
    bg-colour: "#42004E"
    bg-checkerdark: "#64004C"
    bg-checkerlight: "#8E0C42"
    bg-triangle: "#42004E"
    sidebar-colour: "#220029"
    text-colour: "#FFE7D1"
    a-colour: "#FFD5B5"
    a-visited-colour: "#FFB289"
    a-hover-colour: "#FFEFE0"
    a-active-colour: "#FFFFFF"
    hr-colour: "#D46453"
    tone-colour: "#FFFFFF"
    rightbox-colour: "#22002980"
  light:
    header-colour: "#3B063A"
    bg-colour: "#F3BDFA"
    bg-checkerdark: "#F9C0B8"
    bg-checkerlight: "#FCD4DE"
    bg-triangle: "#F78D9A"
    sidebar-colour: "#EA667A"
    text-colour: "#58032B"
    a-colour: "#620562"
    a-visited-colour: "#3E0349"
    a-hover-colour: "#8B0573"
    a-active-colour: "#CA2184"
    hr-colour: "#A01843"
    tone-colour: "#58032B"
    rightbox-colour: "#DE3E5980"
customcss: ":root {
	--main-font: atkinson-hyperlegible;
	--monospace-font: fira-code;
	--header-font: inconsolata;
	--alt-font: overpass;
	--alt-mono-font: overpass-mono;
}

.pixelated-img {
	image-rendering: crisp-edges;
}"
---
<p>
	Wow, I can draw. Amazing. It's mostly pixel art. I've been doing pixel art for a while now and I'm fairly okay at it. I only ever draw for fun so it's mostly character art featuring my OCs (no write-ups on any of them, learn about them by playing the games they will eventually be in). I'm best at drawing anthropomorphic animals for some reason. I can count the amount of humans I've drawn on one hand. I do have some characters that aren't Funny Animals though. There's also occasional vector art and graphic design work but I don't do that frequently enough to feature anything on this page. All the vector assets this site uses were made by me though.
	<br>
	Click on any image below to view it at full resolution in a new tab.
</p>

<div class="row">
{% for listitem in site.data.gallery_list %}
{%- assign item = site.data.gallery_items[listitem] -%}
{%- assign currentindex = forloop.index0 | modulo: 3 -%}
	<div class="gallery">
		<div class="gallery-img{% if item.pixelated-thumbnail %} pixelated-img{% endif %}">
			<a href="/art/{{item.id}}" nobrackets="true"><img src="{{ item.thumbnail }}" alt="{{ item.thumbnail-alt-text }}" width="100%" height="100%"></a>
		</div>
		<div class="desc">
			<span class="desc-metadata">
				{{ item.artname }}<br>{{ item.date | date_to_long_string }}
			</span>
		</div>
	</div>
{% endfor %}
</div>
<hr>
<p xmlns:cc="http://creativecommons.org/ns#">
	All art featured in the gallery is licensed under 
	<a href="http://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
		CC BY-NC-ND 4.0
		<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1">
		<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1">
		<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1">
		<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1">
	</a>
	.
</p>
