/* --- Typefaces --- */
@font-face {
	font-family: "Inconsolata";
	src: url("/resources/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
	format("truetype");
}
@font-face {
	font-family: "Overpass";
	src: url("/resources/fonts/Overpass-VariableFont_wght.ttf");
	format("truetype");
}
@font-face {
	font-family: "Overpass Mono";
	src: url("/resources/fonts/OverpassMono-VariableFont_wght.ttf");
	format("truetype");
}
@font-face {
	font-family: 'Fira Code VF';
	src: url("/resources/FiraCode-VF.woff2") format('woff2-variations'),
	url("/resources/FiraCode-VF.woff") format('woff-variations');
	/* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
	font-weight: 300 700;
	font-style: normal;
}

/* --- Emphasis Types --- */
em.bold {
	font-weight: bold;
	font-style: normal;
}
em.ital {
	font-weight: normal;
	font-style: italic;
}
em.bold-ital {
	font-weight: bold;
	font-style: italic;
}
em.ital-bold {
	font-style: italic;
	font-weight: bold;
}

/* --- Headers --- */
h1 {
	color: var(--header-colour);
	background-color: white;
	background-color: rgba(255, 255, 255, 0.75);
	border-bottom: 1px solid white;
	padding: 4px;
	
	text-decoration: none;
	text-align: left;
	
	font-family: Inconsolata;
	font-size: 48pt;
	font-weight: 750;
	font-stretch: 135%;
}

h2 {
	color: var(--header-colour);
	background-color: white;
	background-color:rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid white;
	padding: 4px;
	
	text-decoration: none;
	text-align: left;
	
	font-family: Inconsolata;
	font-size: 32pt;
	font-weight: 650;
	font-stretch: 125%;
}

h3 {
	color: var(--text-colour);
	background-color: white;
	background-color: rgba(255, 255, 255, 0.35);
	border-bottom: 1px solid white;
	padding: 4px;
	
	text-decoration: none;
	text-align: left;
	
	font-family: Inconsolata;
	font-size: 26pt;
	font-weight: 550;
	font-stretch: 112.5%;
}

h4 {
	color: var(--text-colour);
	background-color: white;
	background-color: rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid white;
	padding: 4px;
	
	text-decoration: none;
	text-align: left;
	
	font-family: Inconsolata;
	font-size: 20pt;
	font-weight: 500;
	font-stretch: 100%;
}

/* --- Text Styling --- */
body {
	font-family: Overpass;
	font-size: 14pt;
	text-align: left;
	color: var(--text-colour);
}

#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email,
#HCB_comment_box #hcb_form_name,
#HCB_comment_box #hcb_form_website,
#HCB_comment_box #hcb_submit,
#HCB_comment_box .author-name,
#HCB_comment_box .hcb-comment-body,
#HCB_comment_box .hcb-comment-tb a,
#HCB_comment_box .home-desc,
#HCB_comment_box .hcb_form_name_container,
#HCB_comment_box .hcb_submit {
	font-family: Overpass;
	font-size: 14pt;
}

.HCB_comment_box {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
}

/* --- Link Styling --- */
a {
	border: none;
	text-decoration: underline;
}

/* unvisited link */
a:link {
	color: var(--a-colour);
	text-decoration: none;
}

/* visited link */
a:visited {
	color: var(--a-visited-colour);
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: var(--a-hover-colour);
	text-decoration: underline;
}

/* selected link */
a:active {
	color: var(--a-active-colour);
	text-decoration: underline;
}

a::before { 
	content: "[[";
	opacity: 0.7;
}
a::after { 
	content: "]]";
	opacity: 0.7;
}
a[target="_blank"]::before { 
	content: "[";
	opacity: 0.7;
}
a[target="_blank"]::after { 
	content: "]";
	opacity: 0.7;
}
a[nobrackets="true"]::after { 
	content: "";
	opacity: 0.7;
}
a[nobrackets="true"]::before { 
	content: "";
	opacity: 0.7;
}

/* --- Background Gradient Pseudo-image --- */
body {
	background-color: var(--bg-color);
	background-color: var(--bg-checkerdark);
	background-image: linear-gradient(to bottom left , transparent 0%, transparent 50%, var(--bg-triangle) 50%, var(--bg-triangle) 100%),linear-gradient(45deg, var(--bg-checkerlight) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight) 75%, var(--bg-checkerlight)), linear-gradient(45deg, var(--bg-checkerlight) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight) 75%, var(--bg-checkerlight));
	background-size: 100dvw 100dvh, 64px 64px, 64px 64px;
	background-position: 0 0, 32px 32px;
	background-attachment: fixed, scroll, scroll;
}

/* --- Horizontal Rule --- */
hr {
	color: var(--hr-colour);
	display: block;
	border: none;
	height: 0;	
	border-style: double;
}

/* --- Division Styles --- */
img {
	display: inline;
}

.card {
	background: #ff8989;
	text-align: center;
}

nav {
	position: fixed;
	max-width: 25%;
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	padding: 0;
	border: 5px #000;
}

span.code-inline {
	font-family: Fira Code;
	font-size: 14pt;
	background-color: var(--sidebar-colour);
	padding: 2px;
}

div.code-block {
	font-family: Fira Code;
	font-size: 14pt;
	background-color: var(--sidebar-colour);
	padding: 4px;
}

/* --- Gallery Styling --- */
div.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	height: max-content;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.15);
	margin: 10px 0px;
}

div.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px;
	border: 1px solid var(--text-colour);
	width: 31%;
	height: fit-content;
	flex: 5 1 auto;
	justify-content: center;
}

div.gallery:hover {
	border: 1px solid var(--a-hover-colour);
}

div.gallery img {
	width: 100%;
	height: auto;
	max-width:max-content;
}

/* UFSC Icons */
span.icon-ufsc {
	height: 1em;
	width: 1em;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
	.gallery {
		width: 100%;
	}
}

div.desc {
	text-align: center;
	padding-top: 1ex;
	padding-bottom: 1ex;
	margin: auto;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.15);
}

span.desc-metadata {
	font-family: Overpass Mono;
	background-color:  rgba(255, 255, 255, 0.15);
}

/* --- SRB2 Gallery Styling (do i still need this?) --- */
.srb2gallery {
	margin: auto;
	border: 1px solid #ccc;
	background-image: url("/resources/showcasepane.png");
	width: 50%;
	padding: 5px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}

div.srb2gallery img {
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}

.srb2desc {
	padding: 15px;
	text-align: center;
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}

/* --- Sidenav Styling --- */
.sidenav {
	outline: none;
	border-style: none;
	background-image: none;
	height: 100%;
	max-width: 13.75%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--sidebar-colour);
}

/* Separate main content from sidebar */
.content {
	margin: 0 20%;
	padding: 0;
}