/* FINALLY organising this beast*/
/* like some weird mid-october celebration */

/*Typefaces*/
@font-face {
	font-family: DTM-Sans;
	src: url(DTM-Sans.otf);
}
@font-face {
	font-family: "Inconsolata";
	src: url(/resources/fonts/Inconsolata-VariableFont_wdth,wght.ttf);
	format("truetype");
}
@font-face {
	font-family: "Overpass";
	src: url(/resources/fonts/Overpass-VariableFont_wght.ttf);
	format("truetype");
}
@font-face {
	font-family: "OverpassMono";
	src: url(/resources/fonts/OverpassMono-VariableFont_wght.ttf);
	format("truetype");
}

/*Emphasis Types*/
/*I'm going to stop using <bold> and <ital> and start using different classes of <em> instead. Their stylings will be left here in case I forget to remove <bold> and <ital> from any pages*/
bold {
	font-weight: bold;
}
ital {
	font-style: italic;
}

em.bold {
	font-weight: bold;
}
em.ital {
	font-style: italic;
}
em.bold-ital {
	font-weight: bold;
	font-style: italic;
}
em.ital-bold {
	font-weight: bold;
	font-style: italic;
}

/*Headers*/
h1 {
	color: var(--header-colour);
	background-color: white;
	background-color: rgba(255, 255, 255, 0.75);
	border-bottom: 1px solid white;
	padding: 4px;
	
	text-decoration: none;
	text-align: left;
	
	font-family: Inconsolata;
	font-size: 48pt;
	font-weight: 750;
	font-stretch: 135%;
}
h2 {
	color: var(--header-colour);
	background-color: white;
	background-color:rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid white;
	padding: 4px;
	
	text-decoration: none;
	text-align: left;
	
	font-family: Inconsolata;
	font-size: 32pt;
	font-weight: 650;
	font-stretch: 125%;
}
h3 {
	color: var(--text-colour);
	background-color: white;
	background-color: rgba(255, 255, 255, 0.35);
	border-bottom: 1px solid white;
	padding: 4px;
	
	text-decoration: none;
	text-align: left;
	
	font-family: Inconsolata;
	font-size: 26pt;
	font-weight: 550;
	font-stretch: 112.5%;
}
h4 {
	color: var(--text-colour);
	background-color: white;
	background-color: rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid white;
	padding: 4px;
	
	text-decoration: none;
	text-align: left;
	
	font-family: Inconsolata;
	font-size: 20pt;
	font-weight: 500;
	font-stretch: 100%;
}

/*Text Styling*/
body {
	font-family: Overpass;
	font-size: 14pt;
	text-align: left;
	color: var(--text-colour);
}

#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email,
#HCB_comment_box #hcb_form_name,
#HCB_comment_box #hcb_form_website,
#HCB_comment_box #hcb_submit,
#HCB_comment_box .author-name,
#HCB_comment_box .hcb-comment-body,
#HCB_comment_box .hcb-comment-tb a,
#HCB_comment_box .home-desc,
#HCB_comment_box .hcb_form_name_container,
#HCB_comment_box .hcb_submit {
	font-family: Overpass;
	font-size: 14pt;
}

/* Link Styling */
a {
	border: none;
	text-decoration: underline;
}

/* unvisited link */
a:link {
	color: var(--a-colour);
}

/* visited link */
a:visited {
	color: var(--a-visited-colour);
}

/* mouse over link */
a:hover {
	color: var(--a-hover-colour);
}

/* selected link */
a:active {
	color: var(--a-active-colour);
}
a::before { 
	content: "[[";
	opacity: 0.7;
}
a::after { 
	content: "]]";
	opacity: 0.7;
}
a[target="_blank"]::before { 
	content: "[";
	opacity: 0.7;
}
a[target="_blank"]::after { 
	content: "]";
	opacity: 0.7;
}
a[nobrackets="true"]::after { 
	content: "";
	opacity: 0.7;
}
a[nobrackets="true"]::before { 
	content: "";
	opacity: 0.7;
}

/*Background Gradient Pseudo-image*/
body {
	background-color: var(--bg-color);
	background-color: var(--bg-checkerdark);
	background-image: linear-gradient(to bottom left , transparent 0%, transparent 50%, var(--bg-triangle) 50%, var(--bg-triangle) 100%),linear-gradient(45deg, var(--bg-checkerlight) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight) 75%, var(--bg-checkerlight)), linear-gradient(45deg, var(--bg-checkerlight) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight) 75%, var(--bg-checkerlight));
	background-size: 100vw 100vh, 64px 64px, 64px 64px;
	background-position: 0 0, 32px 32px;
	background-attachment: fixed, scroll, scroll;
}

/* Horizontal Rule */
hr {
	color: var(--hr-colour);
	display: block;
	border: none;
	height: 0;	
	border-style: double;
}

/*Division Styles*/
img {
	display: inline;
}
div {
	padding: 2px;
	border: none;
}
.factDisplay {
	display: inline;
}
.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	min-height: 300px;
	max-width: 240px;
	border: none;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-align: left
}
.absolute {
	position: absolute;
	top: 80px;
	right: 0;
	width: 200px;
	height: 100px;
	border: none;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}
.relative {
	position: relative;
	left: 0;
	border: none;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}
.card {
	background: #ff8989;
	text-align: center;
}
nav {
	position: fixed;
	max-width: 25%;
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	padding: 0;
	border: 5px #000;
}

span.code-inline {
	font-family: OverpassMono;
	font-size: 14pt;
	background-color: var(--sidebar-colour);
	padding: 2px;
}

div.code-block {
	font-family: OverpassMono;
	font-size: 14pt;
	background-color: var(--sidebar-colour);
	padding: 4px;
}

/* Gallery Styling */
div.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	height: max-content;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.15);
	margin: 10px 0px;
}

div.gallery {
	margin: 5px;
	border: 1px solid var(--text-colour);
	width: 31%;
	height: fit-content;
}

div.gallery:hover {
	border: 1px solid var(--a-hover-colour);
}

div.gallery img {
	width: 100%;
	height: auto;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
	.gallery {
		width: 100%;
	}
}

div.desc {
	padding: 15px;
	text-align: center;
}

div.desc {
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	margin: auto;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.15);
}

/* SRB2 Gallery Styling (do i still need this?) */
.srb2gallery {
	margin: auto;
	border: 1px solid #ccc;
	background-image: url("/resources/showcasepane.png");
	width: 50%;
	padding: 5px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}

div.srb2gallery img {
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}

.srb2desc {
	padding: 15px;
	text-align: center;
	margin: auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}

.HCB_comment_box {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
}

iframe {
	outline: none;
	border-style: none;
	background-image: none;
}

/* Sidenav Styling */
.sidenav {
	height: 100%; /*height: 100%; Full-height: remove this if you want "auto" height */
	max-width: 13.75%; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: var(--sidebar-colour);
	/*background-image: linear-gradient(to top, #ffff99, #00ccff 75%);
	background-image: url(triangle.png), url(checker.png);
	background-position: left-top, left top;
	background-repeat: no-repeat, repeat;
	background-attachment: fixed, scroll;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size)
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
*/

/* Separate main content from sidebar */
main {
	margin: 0 20%;
	padding: 0;
	/*background: rgb(240, 240, 240);
	background: rgba(240, 240, 240, 0.25);*/
}
