h1 {
	color: #713750 ;
	background : rgba(255, 255, 255, 0.75) ;
	border : none ;
	padding : 7px ;
	text-decoration: none ;
	text-align: center ;
}
h2 {
	color: darkslateblue ;
	background :rgba(255, 255, 255, 0.5) ;
	border : none ;
	padding : 7px ;
	text-decoration: none ;
	text-align: center;
}
h3 {
	color: darkorchid ;
	background :rgba(255, 255, 255, 0.5) ;
	border : none ;
	padding : 7px ;
	text-decoration: none ;
	text-align: center;
}
body {
  background-color: #BFBDC2 ;
	background-image: url("/resources/backgrounds/1920x1200/2.jpg") ;
	background-repeat: no-repeat ;
	background-size: cover ;
	background-attachment: fixed ;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div {
	background: rgba(255, 255, 255, 0.5) ;
	margin : 2 ;
	border : none ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	max-height: 200px;
	max-width: 200px;
	border : none ;
	background: rgba(255, 255, 255, 0.5);
	text-align: center
}
.absolute {
	position: absolute;
	top: 80px;
	right: 0;
	width: 200px;
	height: 100px;
	border: none;
}
.relative {
	position: relative;
	left: 0;
	border: none;
}
.card {
	background: #ff8989;
	text-align: center;
}
nav {
	position: fixed;
	max-width: 25%;
	margin: auto;
	background: rgba(255, 255, 255, 0.5) ;
	padding : 0 ;
	border : 5px #000 ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery {
	margin: auto;
	border: 1px solid #ccc;
	width: 512px;
	background-image: url("/resources/showcasepane.png");
}
div.gallery:hover {
	border: 1px solid #777;
	margin: auto;
}

div.gallery img {
	margin: auto;
}

.desc {
	padding: 15px;
	text-align: center;
	margin: auto;
}
a {
	background: rgba(255, 255, 255, 0.5) ;
	border : none ;
	padding : 1px ;
	font-weight: bold;
	text-decoration: underline;
	margin: auto;
}
hr {
	 border : 4px double rgba(0, 0, 0, 0.5) ;
}
p {
	text-align: center ;
;
}
a {
	text-align: center ;
}
body {
	text-align: center;
}
/* unvisited link */
a:link {
	color: mediumorchid;
}

/* visited link */
a:visited {
	color: coral;
}

/* mouse over link */
a:hover {
	color: lightcoral;
}

/* selected link */
a:active {
	color: hotpink;
}
a {
	font-size: 100%;
}
p {
	font-size: 100%;
}
body {
  font-family: 'Rosario', sans-serif;
}
p {
  font-family: 'Rosario', sans-serif;
}
h {
  font-family: 'Baloo Bhaijaan', cursive;
}
/* The sidebar menu */
.sidenav {
    height: 100%;/* Full-height: remove this if you want "auto" height */
    width: 240px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(0, 0, 0, 0.75); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
}

/* Style page content */
main {
    margin-left: 240px; /* Same as the width of the sidebar */
    padding: 0px ;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
    