@use "abstracts/variables";

.content {
	margin: 0 auto;
	padding: 0;
	width: 60vw;
	max-width: var(--main-content-width,80ch);

	@media (max-width: variables.$thin-screen-width) or (max-aspect-ratio: variables.$thin-screen-aspect-ratio) {
		width: 90vw;
	}
}
