---
title: Ultimate Free Stuff Compendium
description: Free as in...
header: Ultimate Free Stuff Compendium
css:
  dark:
    header-colour: "#18294F"
    bg-colour: "#18294F"
    bg-checkerdark: "#15163c"
    bg-checkerlight: "#0c3051"
    bg-triangle: "#0b242e"
    sidebar-colour: "#0B1810"
    text-colour: "#B2FFB2"
    a-colour: "#82EDCE"
    a-visited-colour: "#A4E3F1"
    a-hover-colour: "#B0FFF4"
    a-active-colour: "#FFFFFF"
    hr-colour: "#B2FFB2"
    tone-colour: "#FFFFFF"
    rightbox-colour: "#0B181080"
  light:
    header-colour: "#18294F"
    bg-colour: "#F3BDFA"
    bg-checkerdark: "#96F7D5"
    bg-checkerlight: "#B6F9DB"
    bg-triangle: "#81EAD3"
    sidebar-colour: "#2BDBC9"
    text-colour: "#152F3C"
    a-colour: "#064D6E"
    a-visited-colour: "#152F3C"
    a-hover-colour: "#167397"
    a-active-colour: "#2195B2"
    hr-colour: "#188183"
    tone-colour: "#152F3C"
    rightbox-colour: "#2BDBC980"
---
<h2>
	What is this?
</h2>
<p>
	The Ultimate Free Stuff Compendium (UFSC) is a compilation of products (primarily software) that are available for free. It will be updated as new products are discovered by me or submitted at <a href="https://github.com/PencilVoid/neocities-pencilvoid" target="_blank">the source code repo</a>. Open source/source available products are preferred.
</p>
<h2>
	Key
</h2>
<p>
	<span class="inline-icon-from-class icon-ufsc-open"></span> - Open source. The source code is readily available or distributed with the product, and modification and redistribution is allowed.
	<br>
	<span class="inline-icon-from-class icon-ufsc-avail"></span> - Source available. The source code is readily available or distributed with the product, but does not allow modification or redistribution.
	<br>
	<span class="inline-icon-from-class icon-ufsc-closed"></span> - Closed source. The source code is not available.
	<br>
	<span class="inline-icon-from-class icon-ufsc-paygate"></span> - Contains features locked behind in-app payments, or subscriptions which add extra features or extend existing ones. Does not include software which is free for personal use but requires a license for commercial use.
</p>
<hr>
<section class="dropdown" class="dropdown">
	<h2>
		Games
	</h2>
	{% include dropdown_checked.html id="dropdown-games" %}
				<p>
					<b>Sonic Robo Blast 2</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; a free 3D Sonic the Hedgehog fangame built on the Doom engine. Features a lively 25+ year old community and robust modding support.
					<br>
					<a href="https://www.srb2.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://git.do.srb2.org/STJr/SRB2" target="_blank">Source code</a>
				</p>
				<p>
					<b>Cave Story</b>
					<span class="inline-icon-from-class icon-ufsc-closed"></span>
					&mdash; iconic 2D side-scrolling platformer. Kept alive by a dedicated community.
					<br>
					<a href="https://www.cavestory.org/" target="_blank">Homepage</a>
				</p>
				<p>
					<b>Cave Story Multiplayer</b>
					<span class="inline-icon-from-class icon-ufsc-closed"></span>
					&mdash; online multiplayer version of the above game.
					<br>
					<a href="https://cavestorymultiplayer.com/" target="_blank">Homepage</a>
				</p>
				<p>
					<b>TETR.IO</b>
					<span class="inline-icon-from-class icon-ufsc-closed"></span>
					&mdash; a modern yet familiar Tetris-esque online stacker game.
					<br>
					<a href="https://tetr.io/" target="_blank">Homepage</a>
				</p>
				<p>
					<b>Toontown Rewritten</b>
					<span class="inline-icon-from-class icon-ufsc-closed"></span>
					&mdash; a fan-made revival of the iconic MMO <a href="https://en.wikipedia.org/wiki/Toontown_Online" target="_blank">Toontown Online</a>.
					<br>
					<a href="https://tetr.io/" target="_blank">Homepage</a>
				</p>
	{% include dropdown_end.html %}
</section>
<section class="dropdown">
	<h2>
		Productivity software
	</h2>
	{% include dropdown_checked.html id="dropdown-productive" %}
				<p>
					<b>LibreOffice</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; free suite of office programs, including Writer, Calc, Base, and Impress. Good as an alternative to Microsoft 365 (AKA Microsoft Office).
					<br>
					<a href="https://www.libreoffice.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://git.libreoffice.org/core/" target="_blank">Source code</a>
				</p>
				<p>
					<b>Obsidian</b>
					<span class="inline-icon-from-class icon-ufsc-closed"></span>
					<span class="inline-icon-from-class icon-ufsc-paygate"></span>
					&mdash; Markdown-based note recording app. Connections between notes are visualised in a spider diagram. Entirely offline, notes are saved locally!
					<br>
					<a href="https://obsidian.md/" target="_blank">Homepage</a>
				</p>
				<p>
					<b>Claws Mail</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; lightweight email client with extra functionalities such as RSS aggregation
					<br>
					<a href="https://www.claws-mail.org" target="_blank">Homepage</a>
					<br>
					<a href="https://git.claws-mail.org/" target="_blank">Sources</a>
				</p>
	{% include dropdown_end.html %}
</section>
<section class="dropdown">
	<h2>
		Image manipulation
	</h2>
	{% include dropdown_checked.html id="dropdown-image-editing" %}
				<p>
					<b>Paint.NET</b>
					<span class="inline-icon-from-class icon-ufsc-closed"></span>
					&mdash; Windows 10/11 exclusive image editor program (I use it!).
					<br>
					<a href="https://www.getpaint.net/" target="_blank">Homepage</a>
					<br>
					<a href="https://apps.microsoft.com/store/detail/paintnet/9NBHCS1LX4R02" target="_blank">Microsoft Store</a>
				</p>
				<p>
					<b>GNU Image Manipulation Program</b> or <b>GIMP</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; robust image editor suitable for a range of activities. Can be extended through plugins.
					<br>
					<a href="https://www.gimp.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://gitlab.gnome.org/GNOME/gimp" target="_blank">Source code</a>
				</p>
	{% include dropdown_end.html %}
</section>
<section class="dropdown">
	<h2>
		Art, animation, and graphics
	</h2>
	{% include dropdown_checked.html id="dropdown-art-animation" %}
				<p>
					<b>Krita</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; FOSS digital art and 2D animation program. Sports a highly customisable GUI and advanced features such as colour profile management and plugins.
					<br>
					<a href="https://krita.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://invent.kde.org/graphics/krita" target="_blank">Source code</a>
				</p>
				<p>
					<b>Aseprite</b>
					<span class="inline-icon-from-class icon-ufsc-avail"></span>
					&mdash; Industry standard pixel art and animation tool.
					<br>
					<a href="https://www.aseprite.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/aseprite/aseprite/" target="_blank">Source code</a>
				</p>
				<p>
					<b>Piskell</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; web-based pixel art editor that can be downloaded and ran offline. Designed for animation.
					<br>
					<a href="https://www.piskelapp.com/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/piskelapp/piskel" target="_blank">Source code</a>
				</p>
				<p>
					<b>Pixelorama</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; pixel art editor powered by Godot.
					<br>
					<a href="https://orama-interactive.itch.io/pixelorama" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/Orama-Interactive/Pixelorama" target="_blank">Source code</a>
				</p>
				<p>
					<b>Blender</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; 3D creation software. Covers the entire pipeline: modelling, rigging, animating, physics simulation, etc.
					<br>
					<a href="https://www.blender.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/blender/blender" target="_blank">Source code (mirror)</a>
				</p>
				<p>
					<b>Inkscape</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; powerful and easy to approach vector image editor
					<br>
					<a href="https://inkscape.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://gitlab.com/inkscape/inkscape" target="_blank">Source code (mirror)</a>
				</p>
				<p>
					<b>Motion Canvas</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; TypeScript-based vector animation tool, allowing for animations to be programmed and previewed in an editor.
					<br>
					<a href="https://motion-canvas.github.io/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/motion-canvas/motion-canvas" target="_blank">Source code</a>
				</p>
				<p>
					<b>FontForge</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; Simple font editing utility
					<br>
					<a href="https://fontforge.org" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/fontforge/fontforge" target="_blank">Source code</a>
				</p>
	{% include dropdown_end.html %}
</section>
<section class="dropdown">
	<h2>
		DAWs & audio editors
	</h2>
	{% include dropdown_checked.html id="dropdown-daw" %}
				<p>
					<b>OpenMPT</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; music tracker software for creating music in .MOD and related formats.
					<br>
					<a href="https://openmpt.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://source.openmpt.org/" target="_blank">Source code</a>
				</p>
				<p>
					<b>Furnace</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; another music tracker software with support for over 50 sound chips and counting.
					<br>
					<a href="https://github.com/tildearrow/furnace" target="_blank">Source code</a>
				</p>
				<p>
					<b>LMMS</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; FOSS sequencer and composition tool.
					<br>
					<a href="https://lmms.io/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/LMMS/lmms" target="_blank">Source code</a>
				</p>
				<p>
					<b>Audacity</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; simple and easy-to-use audio editor.
					<br>
					<a href="https://www.audacityteam.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/audacity/audacity" target="_blank">Source code</a>
				</p>
	{% include dropdown_end.html %}
</section>
<section class="dropdown">
	<h2>
		Media viewers & processors/Audio players
	</h2>
	{% include dropdown_checked.html id="dropdown-media-player" %}
				<p>
					<b>VLC</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; video and audio player with support for a <em>wide</em> range of formats including online radios, digital camcorder, and <a href="https://en.wikipedia.org/wiki/Teletext" target="_blank">teletext</a>.
					<br>
					<a href="https://www.videolan.org/vlc/" target="_blank">Homepage</a>
					<br>
					<a href="https://code.videolan.org/videolan/vlc/" target="_blank">Source code</a>
				</p>
				<p>
					<b>foobar2000</b>
					<span class="inline-icon-from-class icon-ufsc-closed"></span>
					&mdash; plays music.
					<br>
					<a href="https://www.foobar2000.org" target="_blank">Homepage</a>
				</p>
				<p>
					<b>LosslessCut</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; fast GUI video and audio editor based on FFmpeg.
					<br>
					<a href="https://github.com/mifi/lossless-cut" target="_blank">Source code</a>
				</p>
				<p>
					<b>HandBrake</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; convert videos to and from a wide range of codecs.
					<br>
					<a href="https://handbrake.fr/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/HandBrake/HandBrake" target="_blank">Source code</a>
				</p>
				<p>
					<b>MusicBrainz Picard</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; software for organsing and tagging audio in a range of formats.
					<br>
					<a href="https://picard.musicbrainz.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/metabrainz/picard" target="_blank">Source code</a>
				</p>
	{% include dropdown_end.html %}
</section>
<section class="dropdown">
	<h2>
		Power user utilities
	</h2>
	{% include dropdown_checked.html id="dropdown-power-user" %}
				<p>
					<b>Microsoft PowerToys</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; free collection of plugins to enhance the Windows 10/11 experience. Targeted towards power users.
					<br>
					<a href="https://learn.microsoft.com/en-gb/windows/powertoys/" target="_blank">Documentation</a>
					<br>
					<a href="https://github.com/microsoft/PowerToys" target="_blank">Source code</a>
				</p>
				<p>
					<b>yt-dlp</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; updated version of youtube-dl, a command line program for downloading videos from YouTube and a ton of other sites that has now become inactive.
					<br>
					<a href="https://github.com/yt-dlp/yt-dlp" target="_blank">Source code</a>
				</p>
				<p>
					<b>NirSoft</b>
					<span class="inline-icon-from-class icon-ufsc-closed"></span>
					&mdash; a free software compendium in its own right. All developed by one man.
					<br>
					<a href="https://www.nirsoft.net/" target="_blank">Homepage</a>
				</p>
				<p>
					<b>Bulk Crap Uninstaller</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; fully automate the process of uninstalling programs <i>en masse</i>. Minimises required user input.
					<br>
					<a href="https://www.bcuninstaller.com/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/Klocman/Bulk-Crap-Uninstaller" target="_blank">Source code</a>
				</p>
				<p>
					<b>O&O ShutUp10++</b>
					<span class="inline-icon-from-class icon-ufsc-closed"></span>
					&mdash; anti-bloatware and anti-spyware tool for Windows 10 and 11.
					<br>
					<a href="https://www.oo-software.com/en/shutup10" target="_blank">Homepage</a>
				</p>
				<p>
					<b>Rclone</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; command-line program to sync files with various cloud storage services.
					<br>
					<a href="https://rclone.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/rclone/rclone" target="_blank">Source code</a>
				</p>
				<p>
					<b>LFTP</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; command-line file transfer program supporting a range of protocols.
					<br>
					<a href="https://lftp.yar.ru/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/lavv17/lftp" target="_blank">Source code</a>
				</p>
	{% include dropdown_end.html %}
</section>
<section class="dropdown">
	<h2>
		Miscellaneous
	</h2>
	{% include dropdown_checked.html id="dropdown-misc" %}
				<p>
					<b>Graphviz</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; open source graph visualisation software.
					<br>
					<a href="https://graphviz.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://gitlab.com/graphviz/graphviz" target="_blank">Source code</a>
				</p>
				<p>
					<b>KeePassXC</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; securely store your passwords and auto-fill them into various apps.
					<br>
					<a href="https://keepassxc.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/keepassxreboot/keepassxc" target="_blank">Source code</a>
				</p>
				<p>
					<b>Notepad++</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; lightweight text and code editor. Can be considered a more feature-complete version of Windows' Notepad. Has a portable version.
					<br>
					<a href="https://notepad-plus-plus.org/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/notepad-plus-plus/notepad-plus-plus" target="_blank">Source code</a>
				</p>
				<p>
					<b>Visual Studio Code</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; IDE from Microsoft. Supports many languages.
					<br>
					<a href="https://code.visualstudio.com/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/microsoft/vscode" target="_blank">Source code</a>
				</p>
				<p>
					<b>OBS Studio</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; app for recording and streaming your screen. Widely used by many streamers.
					<br>
					<a href="https://obsproject.com/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/obsproject/obs-studio" target="_blank">Source code</a>
				</p>
				<p>
					<b>Rainmeter</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; display highly customisable widgets on your desktop.
					<br>
					<a href="https://www.rainmeter.net/" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/rainmeter/rainmeter" target="_blank">Source code</a>
				</p>
				<p>
					<b>OpenStax</b>
					<span class="inline-icon-from-class icon-ufsc-closed"></span>
					&mdash; collection of free textbooks and learning resources.
					<br>
					<a href="https://openstax.org/" target="_blank">Homepage</a>
				</p>
				<p>
					<b>Neocities</b>
					<span class="inline-icon-from-class icon-ufsc-open"></span>
					&mdash; free personal website host, reminiscent of Geocities.
					<br>
					<a href="https://neocities.org" target="_blank">Homepage</a>
					<br>
					<a href="https://github.com/neocities/neocities" target="_blank">Source code</a>
				</p>
	{% include dropdown_end.html %}
</section>
