---
css:
  dark:
    header-colour: "#220029"
    bg-colour: "#0C4951"
    bg-checkerdark: "#196E64"
    bg-checkerlight: "#188183"
    bg-triangle: "#0C4951"
    sidebar-colour: "#152F3C"
    text-colour: "#B2FFB2"
    a-colour: "#8BFF56"
    a-visited-colour: "#2CE06E"
    a-hover-colour: "#B2FFB2"
    a-active-colour: "#FFFFFF"
    hr-colour: "#3FF460"
    tone-colour: "#FFFFFF"
    rightbox-colour: "#152F3C80"
  light:
    header-colour: "#220029"
    bg-colour: "#F3BDFA"
    bg-checkerdark: "#96F7D5"
    bg-checkerlight: "#B6F9DB"
    bg-triangle: "#81EAD3"
    sidebar-colour: "#2BDBC9"
    text-colour: "#152F3C"
    a-colour: "#064D6E"
    a-visited-colour: "#152F3C"
    a-hover-colour: "#167397"
    a-active-colour: "#2195B2"
    hr-colour: "#188183"
    tone-colour: "#152F3C"
    rightbox-colour: "#2BDBC980"
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/icons/favicon.ico">
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x.png">
		<link rel="manifest" href="/icons/site.webmanifest">
		<link href="/resources/styles/fonts.css" rel="stylesheet" type="text/css" media="all">
		<link href="/resources/styles/checker.css" rel="stylesheet" type="text/css" media="all">
		<title>
			{{ page.title }} | Authors
		</title>
		{% seo title=false %}
		<meta name="theme-color" content="{{ page.css.dark.bg-checkerdark }}">
		<style>
			:root {
				--main-font: atkinson-hyperlegible;
				--monospace-font: fira-code;
				--header-font: inconsolata;
				--alt-font: overpass;
				--alt-mono-font: overpass-mono;
			}

			:root {
				--header-colour: {{ page.css.dark.header-colour }};
				--bg-colour: {{ page.css.dark.bg-colour }};
				--bg-checkerdark: {{ page.css.dark.bg-checkerdark }};
				--bg-checkerlight: {{ page.css.dark.bg-checkerlight }};
				--bg-triangle: {{ page.css.dark.bg-triangle }};
				--sidebar-colour: {{ page.css.dark.sidebar-colour }};
				--text-colour: {{ page.css.dark.text-colour }};
				--a-colour: {{ page.css.dark.a-colour }};
				--a-visited-colour: {{ page.css.dark.a-visited-colour }};
				--a-hover-colour: {{ page.css.dark.a-hover-colour }};
				--a-active-colour: {{ page.css.dark.a-active-colour }};
				--hr-colour: {{ page.css.dark.hr-colour }};
				--tone-colour: {{ page.css.dark.tone-colour }};
				--rightbox-colour: {{ page.css.dark.rightbox-colour }};
			}
		</style>
	</head>

	<body>
		<div class="sidenav">
			<nav>
				<a class="keyboard-nav-link" href="#main-content">Jump to main content</a>
				<a class="keyboard-nav-link" href="#colour-theme-choice">Jump to display controls</a>
				<hr id="keyboard-nav-separator">
				{% include sidebar.html %}
			</nav>
		</div>
		<div class="rightbox">
			{% include display_controls.html %}
		</div>
		<div class="content">
			<header>
				<h1>
					{{ page.fullname }}
				</h1>
			</header>
			<hr>
			<main id="main-content">
				Position: <b>{{ page.position }}</b>
				<p>
					{{ page.description }}
				</p>
				<h2>
					Posts
				</h2>
				<ul>
					{% assign filtered_posts = site.posts | where: 'author', page.id %}
					{% for post in filtered_posts %}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% else %}
					<li>No posts by this author were found.</li>
					{% endfor %}
				</ul>
				<h2>
					Author links
				</h2>
				<ul>
				{% for link in page.links %}
				<li><a href="{{ link.url }}">{{ link.name }}</a></li>
				{% else %}
				<li>No links for this author were found.</li>
				</p>
				{% endfor %}
				</ul>
			</main>
			<hr>
			<footer>
				<span class="small-text">
					<p>
						Page last modified: {{ page.last_modified_at | date: "%d %B %Y %H:%M:%S UTC%z" }}
					</p>
				</span>
			</footer>
		</div>
		<script>
			function deleteAllCookies() {
				localStorage.clear()
			}

			function setWithExpiry(key, value, ttl) {
				const now = new Date()

				// `item` is an object which contains the original value
				// as well as the time when it's supposed to expire
				const item = {
					value: value,
					expiry: now.getTime() + ttl,
				}
				localStorage.setItem(key, JSON.stringify(item))
			}
			
			function getWithExpiry(key) {
				const itemStr = localStorage.getItem(key)
				// if the item doesn't exist, return null
				if (!itemStr) {
					return null
				}
				const item = JSON.parse(itemStr)
				const now = new Date()
				// compare the expiry time of the item with the current time
				if (now.getTime() > item.expiry) {
					// If the item is expired, delete the item from storage
					// and return null
					localStorage.removeItem(key)
					return null
				}
				return item.value
			}

			function colourThemeDark() {
				document.documentElement.style.setProperty('--header-colour', '{{ page.css.dark.header-colour }}');
				document.documentElement.style.setProperty('--bg-colour', '{{ page.css.dark.bg-colour }}');
				document.documentElement.style.setProperty('--bg-checkerdark', '{{ page.css.dark.bg-checkerdark }}');
				document.documentElement.style.setProperty('--bg-checkerlight', '{{ page.css.dark.bg-checkerlight }}');
				document.documentElement.style.setProperty('--bg-triangle', '{{ page.css.dark.bg-triangle }}');
				document.documentElement.style.setProperty('--sidebar-colour', '{{ page.css.dark.sidebar-colour }}');
				document.documentElement.style.setProperty('--text-colour', '{{ page.css.dark.text-colour }}');
				document.documentElement.style.setProperty('--a-colour', '{{ page.css.dark.a-colour }}');
				document.documentElement.style.setProperty('--a-visited-colour', '{{ page.css.dark.a-visited-colour }}');
				document.documentElement.style.setProperty('--a-hover-colour', '{{ page.css.dark.a-hover-colour }}');
				document.documentElement.style.setProperty('--a-active-colour', '{{ page.css.dark.a-active-colour }}');
				document.documentElement.style.setProperty('--hr-colour', '{{ page.css.dark.hr-colour }}');
				document.documentElement.style.setProperty('--tone-colour', '{{ page.css.dark.tone-colour }}');
				document.documentElement.style.setProperty('--rightbox-colour', '{{ page.css.dark.rightbox-colour }}');
				document.getElementById("colour-theme-dark").checked = true;
				document.getElementById("colour-theme-light").checked = false;
				/*document.getElementById("colour-theme-auto").checked = false;*/
			}

			function colourThemeLight() {
				document.documentElement.style.setProperty('--header-colour', '{{ page.css.light.header-colour }}');
				document.documentElement.style.setProperty('--bg-colour', '{{ page.css.light.bg-colour }}');
				document.documentElement.style.setProperty('--bg-checkerdark', '{{ page.css.light.bg-checkerdark }}');
				document.documentElement.style.setProperty('--bg-checkerlight', '{{ page.css.light.bg-checkerlight }}');
				document.documentElement.style.setProperty('--bg-triangle', '{{ page.css.light.bg-triangle }}');
				document.documentElement.style.setProperty('--sidebar-colour', '{{ page.css.light.sidebar-colour }}');
				document.documentElement.style.setProperty('--text-colour', '{{ page.css.light.text-colour }}');
				document.documentElement.style.setProperty('--a-colour', '{{ page.css.light.a-colour }}');
				document.documentElement.style.setProperty('--a-visited-colour', '{{ page.css.light.a-visited-colour }}');
				document.documentElement.style.setProperty('--a-hover-colour', '{{ page.css.light.a-hover-colour }}');
				document.documentElement.style.setProperty('--a-active-colour', '{{ page.css.light.a-active-colour }}');
				document.documentElement.style.setProperty('--hr-colour', '{{ page.css.light.hr-colour }}');
				document.documentElement.style.setProperty('--tone-colour', '{{ page.css.light.tone-colour }}');
				document.documentElement.style.setProperty('--rightbox-colour', '{{ page.css.light.rightbox-colour }}');
				document.getElementById("colour-theme-dark").checked = false;
				document.getElementById("colour-theme-light").checked = true;
				/*document.getElementById("colour-theme-auto").checked = false;*/
			}

			function colourThemeAuto() {
				let mediaQueryList = window.matchMedia("(prefers-color-scheme: light)");

				if (!mediaQueryList.matches) {
					colourThemeDark();
				} else {
					colourThemeDark();
				}
				/*
				document.getElementById("colour-theme-dark").checked = false;
				document.getElementById("colour-theme-light").checked = false;
				document.getElementById("colour-theme-auto").checked = true;
				*/
			}

			function bgCheckerVisible() {
				document.body.style.backgroundImage = "linear-gradient(to bottom left, transparent 0%, transparent 50%, var(--bg-triangle,#220029) 50%, var(--bg-triangle,#220029) 100%), linear-gradient(45deg, var(--bg-checkerlight,#680068) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight,#680068) 75%, var(--bg-checkerlight,#680068)), linear-gradient(45deg, var(--bg-checkerlight,#680068) 25%, var(--bg-checkerdark,#42004E) 25%, var(--bg-checkerdark,#42004E) 75%, var(--bg-checkerlight,#680068) 75%, var(--bg-checkerlight,#680068))";
			}

			function bgCheckerInvisible() {
				document.body.style.backgroundImage = "linear-gradient(to bottom left, var(--bg-checkerdark,#42004E) 0%, var(--bg-checkerdark,#42004E) 50%, var(--bg-triangle,#220029) 50%, var(--bg-triangle,#220029) 100%), linear-gradient(45deg, var(--bg-checkerlight,#680068) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight,#680068) 75%, var(--bg-checkerlight,#680068)), linear-gradient(45deg, var(--bg-checkerlight,#680068) 25%, var(--bg-checkerdark,#42004E) 25%, var(--bg-checkerdark,#42004E) 75%, var(--bg-checkerlight,#680068) 75%, var(--bg-checkerlight,#680068))";
			}

			document.addEventListener("DOMContentLoaded", function(event) {
				let cookieColourScheme = getWithExpiry("colour_theme");

				if (cookieColourScheme) {
					if (cookieColourScheme === "light") {
						colourThemeLight();
						setWithExpiry("colour_theme", "light", 1209600000)
					} else if (cookieColourScheme === "dark") {
						colourThemeDark();
						setWithExpiry("colour_theme", "dark", 1209600000)
					}
				} else {
					colourThemeAuto();
				}

				let cookieDisplayBgChecker = getWithExpiry("display_bg_checker");
				
				if (cookieDisplayBgChecker) {
					if (cookieDisplayBgChecker === "false") {
						bgCheckerInvisible()
						document.getElementById("display-bg-checker").checked = false;
						setWithExpiry("display_bg_checker", "false", 1209600000)
					} else if (cookieDisplayBgChecker === "true") {
						bgCheckerVisible()
						document.getElementById("display-bg-checker").checked = true;
						setWithExpiry("display_bg_checker", "true", 1209600000)
					}
				} else {
					bgCheckerVisible()
					document.getElementById("display-bg-checker").checked = true;
				}
			})

			document.getElementById("display-bg-checker").addEventListener("change", function(event) {
				if (document.getElementById("display-bg-checker").checked) {
					bgCheckerVisible()
					setWithExpiry("display_bg_checker", "true", 1209600000)
				} else {
					bgCheckerInvisible()
					setWithExpiry("display_bg_checker", "false", 1209600000)
				}
			})

			document.getElementById("colour-theme-light").addEventListener("change", function(event) {
				if (document.getElementById("colour-theme-light").checked) {
					colourThemeLight()
					setWithExpiry("colour_theme", "light", 1209600000)
				}
			})

			document.getElementById("colour-theme-dark").addEventListener("change", function(event) {
				if (document.getElementById("colour-theme-dark").checked) {
					colourThemeDark()
					setWithExpiry("colour_theme", "dark", 1209600000)
				}
			})

			document.getElementById("clear-all-options").addEventListener("click", deleteAllCookies)
		</script>
	</body>
</html>
