<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/icons/favicon.ico">
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x.png">
		<link rel="manifest" href="/icons/site.webmanifest">
		<link href="/resources/fonts.css" rel="stylesheet" type="text/css" media="all">
		<link href="/resources/checker.css" rel="stylesheet" type="text/css" media="all">
		<title>
			{{ page.title }}
		</title>
		{% feed_meta %}
		{% seo %}
		<style>
			{{ page.customcss }}
		</style>
	</head>

	<body>
		<nav>
			{% include sidebar.html %}
		</nav>
		<div class="content">
			<header>
				<h1>
					{{ page.header }}
				</h1>
			</header>
			<hr>
			{{ content }}
		</div>
	</body>
</html>
