---
css:
  dark:
    header-colour: "#29082C"
    bg-colour: "#3D112D"
    bg-checkerdark: "#722332"
    bg-checkerlight: "#BA472A"
    bg-triangle: "#3D112D"
    sidebar-colour: "#29082C"
    text-colour: "#FFE7D1"
    a-colour: "#FFFF8C"
    a-visited-colour: "#FDF448"
    a-hover-colour: "#FFFFCF"
    a-active-colour: "#FFFFFF"
    hr-colour: "#FFBD26"
    tone-colour: "#FFFFFF"
    rightbox-colour: "#22002980"
  light:
    header-colour: "#29082C"
    bg-colour: "#FCF571"
    bg-checkerdark: "#FCF571"
    bg-checkerlight: "#FCFCDB"
    bg-triangle: "#FFE226"
    sidebar-colour: "#F9BD35"
    text-colour: "#381C2E"
    a-colour: "#641A47"
    a-visited-colour: "#380837"
    a-hover-colour: "#9F3F4B"
    a-active-colour: "#CC6758"
    hr-colour: "#6C2533"
    tone-colour: "#381C2E"
    rightbox-colour: "#F9BD3580"
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/icons/favicon.ico">
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x.png">
		<link rel="manifest" href="/icons/site.webmanifest">
		<link href="/resources/styles/fonts.css" rel="stylesheet" type="text/css" media="all">
		<link href="/resources/styles/checker.css" rel="stylesheet" type="text/css" media="all">

		<!-- Allow fullscreen mode on iOS devices. (These are Apple specific meta tags.) -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-icon" sizes="256x256" href="icon-256.png" />
		<meta name="HandheldFriendly" content="true" />
		
		<!-- Chrome for Android web app tags -->
		<meta name="mobile-web-app-capable" content="yes" />
		<link rel="shortcut icon" sizes="256x256" href="icon-256.png" />
		<title>
			{{ page.title }}
		</title>
		{% seo title=false %}
		<meta name="theme-color" content="{{ layout.css.dark.bg-checkerdark }}">
		<style>
			{{ layout.customcss }}
			
			:root {
				--header-colour: {{ layout.css.dark.header-colour }};
				--bg-colour: {{ layout.css.dark.bg-colour }};
				--bg-checkerdark: {{ layout.css.dark.bg-checkerdark }};
				--bg-checkerlight: {{ layout.css.dark.bg-checkerlight }};
				--bg-triangle: {{ layout.css.dark.bg-triangle }};
				--sidebar-colour: {{ layout.css.dark.sidebar-colour }};
				--text-colour: {{ layout.css.dark.text-colour }};
				--a-colour: {{ layout.css.dark.a-colour }};
				--a-visited-colour: {{ layout.css.dark.a-visited-colour }};
				--a-hover-colour: {{ layout.css.dark.a-hover-colour }};
				--a-active-colour: {{ layout.css.dark.a-active-colour }};
				--hr-colour: {{ layout.css.dark.hr-colour }};
				--tone-colour: {{ layout.css.dark.tone-colour }};
				--rightbox-colour: {{ layout.css.dark.rightbox-colour }};
			}

			* {
				padding: 0;
				margin: 0;
			}
			html, body {
				overflow-x: hidden;
				touch-action: none;
				-ms-touch-action: none;
				text-align: center
			}
			canvas {
				/*touch-action-delay: none;*/
				touch-action: none;
				-ms-touch-action: none;
			}
			#c2canvasdiv {
				padding-bottom: 1em;
			}
		</style>
	</head>

	<body>
		<main id="main-content">
		{{ content }}
		</main>
		<footer>
			<span class="small-text">
				<p>
					Page last modified: {{ page.last_modified_at | date: "%d %B %Y %H:%M:%S UTC%z" }}
				</p>
			</span>
		</footer>
		<script>
			function colourThemeDark() {
				document.documentElement.style.setProperty('--header-colour', '{{ layout.css.dark.header-colour }}');
				document.documentElement.style.setProperty('--bg-colour', '{{ layout.css.dark.bg-colour }}');
				document.documentElement.style.setProperty('--bg-checkerdark', '{{ layout.css.dark.bg-checkerdark }}');
				document.documentElement.style.setProperty('--bg-checkerlight', '{{ layout.css.dark.bg-checkerlight }}');
				document.documentElement.style.setProperty('--bg-triangle', '{{ layout.css.dark.bg-triangle }}');
				document.documentElement.style.setProperty('--sidebar-colour', '{{ layout.css.dark.sidebar-colour }}');
				document.documentElement.style.setProperty('--text-colour', '{{ layout.css.dark.text-colour }}');
				document.documentElement.style.setProperty('--a-colour', '{{ layout.css.dark.a-colour }}');
				document.documentElement.style.setProperty('--a-visited-colour', '{{ layout.css.dark.a-visited-colour }}');
				document.documentElement.style.setProperty('--a-hover-colour', '{{ layout.css.dark.a-hover-colour }}');
				document.documentElement.style.setProperty('--a-active-colour', '{{ layout.css.dark.a-active-colour }}');
				document.documentElement.style.setProperty('--hr-colour', '{{ layout.css.dark.hr-colour }}');
				document.documentElement.style.setProperty('--tone-colour', '{{ layout.css.dark.tone-colour }}');
				document.documentElement.style.setProperty('--rightbox-colour', '{{ layout.css.dark.rightbox-colour }}');
			}

			function colourThemeLight() {
				document.documentElement.style.setProperty('--header-colour', '{{ layout.css.light.header-colour }}');
				document.documentElement.style.setProperty('--bg-colour', '{{ layout.css.light.bg-colour }}');
				document.documentElement.style.setProperty('--bg-checkerdark', '{{ layout.css.light.bg-checkerdark }}');
				document.documentElement.style.setProperty('--bg-checkerlight', '{{ layout.css.light.bg-checkerlight }}');
				document.documentElement.style.setProperty('--bg-triangle', '{{ layout.css.light.bg-triangle }}');
				document.documentElement.style.setProperty('--sidebar-colour', '{{ layout.css.light.sidebar-colour }}');
				document.documentElement.style.setProperty('--text-colour', '{{ layout.css.light.text-colour }}');
				document.documentElement.style.setProperty('--a-colour', '{{ layout.css.light.a-colour }}');
				document.documentElement.style.setProperty('--a-visited-colour', '{{ layout.css.light.a-visited-colour }}');
				document.documentElement.style.setProperty('--a-hover-colour', '{{ layout.css.light.a-hover-colour }}');
				document.documentElement.style.setProperty('--a-active-colour', '{{ layout.css.light.a-active-colour }}');
				document.documentElement.style.setProperty('--hr-colour', '{{ layout.css.light.hr-colour }}');
				document.documentElement.style.setProperty('--tone-colour', '{{ layout.css.light.tone-colour }}');
				document.documentElement.style.setProperty('--rightbox-colour', '{{ layout.css.light.rightbox-colour }}');
			}

			function colourThemeAuto() {
				let mediaQueryList = window.matchMedia("(prefers-color-scheme: light)");

				if (!mediaQueryList.matches) {
					colourThemeDark();
				} else {
					colourThemeDark();
				}
			}

			function bgCheckerVisible() {
				document.body.style.backgroundImage = "linear-gradient(to bottom left, transparent 0%, transparent 50%, var(--bg-triangle,#220029) 50%, var(--bg-triangle,#220029) 100%), linear-gradient(45deg, var(--bg-checkerlight,#680068) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight,#680068) 75%, var(--bg-checkerlight,#680068)), linear-gradient(45deg, var(--bg-checkerlight,#680068) 25%, var(--bg-checkerdark,#42004E) 25%, var(--bg-checkerdark,#42004E) 75%, var(--bg-checkerlight,#680068) 75%, var(--bg-checkerlight,#680068))";
			}

			function bgCheckerInvisible() {
				document.body.style.backgroundImage = "linear-gradient(to bottom left, var(--bg-checkerdark,#42004E) 0%, var(--bg-checkerdark,#42004E) 50%, var(--bg-triangle,#220029) 50%, var(--bg-triangle,#220029) 100%), linear-gradient(45deg, var(--bg-checkerlight,#680068) 25%, transparent 25%, transparent 75%, var(--bg-checkerlight,#680068) 75%, var(--bg-checkerlight,#680068)), linear-gradient(45deg, var(--bg-checkerlight,#680068) 25%, var(--bg-checkerdark,#42004E) 25%, var(--bg-checkerdark,#42004E) 75%, var(--bg-checkerlight,#680068) 75%, var(--bg-checkerlight,#680068))";
			}

			document.addEventListener("DOMContentLoaded", function(event) {
				let cookieColourScheme = document.cookie
				.split(";")
				.find((row) => row.startsWith("colour_theme="))
				?.split("=")[1];

				if (cookieColourScheme) {
					if (cookieColourScheme === "light") {
						colourThemeLight();
						document.cookie = "colour_theme=light; max-age=1209600; path=/; Secure";
					} else if (cookieColourScheme === "dark") {
						colourThemeDark();
						document.cookie = "colour_theme=dark; max-age=1209600; path=/; Secure";
					}
				} else {
					colourThemeAuto();
				}

				let cookieDisplayBgChecker = document.cookie
				.split(";")
				.find((row) => row.startsWith("display_bg_checker="))
				?.split("=")[1];
				
				if (cookieDisplayBgChecker) {
					if (cookieDisplayBgChecker === "false") {
						bgCheckerInvisible()
						document.cookie = "display_bg_checker=false; max-age=1209600; path=/; Secure";
					} else if (cookieDisplayBgChecker === "true") {
						bgCheckerVisible()
						document.cookie = "display_bg_checker=true; max-age=1209600; path=/; Secure";
					}
				} else {
					bgCheckerVisible()
				}
			})
		</script>
	</body>
</html>
