---
css:
  dark:
    header-colour: "#18294F"
    bg-colour: "#0C4951"
    bg-checkerdark: "#105154"
    bg-checkerlight: "#19686D"
    bg-triangle: "#103B46"
    sidebar-colour: "#152F3C"
    text-colour: "#B2FFB2"
    a-colour: "#8BFF56"
    a-visited-colour: "#2CE06E"
    a-hover-colour: "#B2FFB2"
    a-active-colour: "#FFFFFF"
    hr-colour: "#3FF460"
    tone-colour: "#FFFFFF"
    rightbox-colour: "#152F3C80"
  light:
    header-colour: "#18294F"
    bg-colour: "#F3BDFA"
    bg-checkerdark: "#96F7D5"
    bg-checkerlight: "#B6F9DB"
    bg-triangle: "#81EAD3"
    sidebar-colour: "#2BDBC9"
    text-colour: "#152F3C"
    a-colour: "#064D6E"
    a-visited-colour: "#152F3C"
    a-hover-colour: "#167397"
    a-active-colour: "#2195B2"
    hr-colour: "#188183"
    tone-colour: "#152F3C"
    rightbox-colour: "#2BDBC980"
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Cache-Control" content="max-age=86400">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/icons/favicon.ico">
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x.png">
		<link rel="manifest" href="/icons/site.webmanifest">
		<link href="/resources/styles/main.css" rel="stylesheet" type="text/css" media="all">
		<title>
			{{ page.title }} | SievePlate
		</title>
		<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/sieveplate/feed.xml" title="SievePlate" />
		{% seo title=false %}
		<meta name="theme-color" content="{{ layout.css.dark.bg-checkerdark }}">
	</head>

	<body>
		<div class="sidenav-hamburger">
			<section class="dropdown-sidenav-hamburger" id="section-dropdown-sidebar-hamburger">
				<input type="checkbox" name="collapse" id="dropdown-sidebar-hamburger">
				<label class="dropdown-label" for="dropdown-sidebar-hamburger"></label>
				<div class="dropdown-content">
					<span class="dropdown-hider">
						<nav>
							{% include sidebar.html hamburger=true %}
						</nav>
					</span>
				</div>
			</section>
		</div>
		<div class="sidenav">
			<nav>
				<a class="keyboard-nav-link" href="#main-content">Jump to main content</a>
				<a class="keyboard-nav-link" href="#colour-theme-choice">Jump to display controls</a>
				<hr id="keyboard-nav-separator">
				{% include sidebar.html %}
			</nav>
		</div>
		<div class="rightbox">
			{% include display_controls.html %}
		</div>
		<div class="content">
			<header>
				<h1>
					{{ page.title }}
				</h1>
			</header>
			<p style="font-style: italic;">
				{{ page.date | date: "%d %B %Y, %H:%M (%Z)" }}
				{% assign author = site.data.authors | find: "id", page.author %}
				{% if author %}
				- written by <a href="/authors/{{ author.id }}">{{ author.fullname }}</a>
				{% else %}
				- no author found
				{% endif %}<br>
				Tags: {% for tag in page.tags %}{{tag}}{% unless forloop.last %}, {% endunless %}{% endfor %}
			</p>
			<hr>
			<main id="main-content">
				<article>
					{{ content }}
				</article>
			</main>
			<hr style="clear: both">
			<footer>
				<div style="clear: both;">
					{% if page.next -%}
					<p style="float: right; text-align: right;">
						<a href="{{ page.next.url }}">Next post: {{ page.next.title }}</a><br>
						{{ page.next.date | date_to_string  }}
					</p>
					{%- endif %}
					{% if page.previous -%}
					<p style="float: left; text-align: left;">
						<a href="{{ page.previous.url }}">Previous post: {{ page.previous.title }}</a><br>
						{{ page.previous.date | date_to_string  }}
					</p>
					{%- endif %}
				</div>
				<p style="text-align: center; clear: both;">
					<a href="/sieveplate">See all posts</a>
				</p>
				{% if page.last_modified_at -%}
				<p>
					<span class="small-text">
					Page last modified: {{ page.last_modified_at | date: "%d %B %Y %H:%M:%S UTC%z" }}
					</span>
				</p>
				{%- endif %}
			</footer>
		</div>
		<script>
			function colourThemeDark() {
				document.documentElement.style.setProperty('--header-colour', '{{ layout.css.dark.header-colour }}');
				document.documentElement.style.setProperty('--bg-colour', '{{ layout.css.dark.bg-colour }}');
				document.documentElement.style.setProperty('--bg-checkerdark', '{{ layout.css.dark.bg-checkerdark }}');
				document.documentElement.style.setProperty('--bg-checkerlight', '{{ layout.css.dark.bg-checkerlight }}');
				document.documentElement.style.setProperty('--bg-triangle', '{{ layout.css.dark.bg-triangle }}');
				document.documentElement.style.setProperty('--sidebar-colour', '{{ layout.css.dark.sidebar-colour }}');
				document.documentElement.style.setProperty('--text-colour', '{{ layout.css.dark.text-colour }}');
				document.documentElement.style.setProperty('--a-colour', '{{ layout.css.dark.a-colour }}');
				document.documentElement.style.setProperty('--a-visited-colour', '{{ layout.css.dark.a-visited-colour }}');
				document.documentElement.style.setProperty('--a-hover-colour', '{{ layout.css.dark.a-hover-colour }}');
				document.documentElement.style.setProperty('--a-active-colour', '{{ layout.css.dark.a-active-colour }}');
				document.documentElement.style.setProperty('--hr-colour', '{{ layout.css.dark.hr-colour }}');
				document.documentElement.style.setProperty('--tone-colour', '{{ layout.css.dark.tone-colour }}');
				document.documentElement.style.setProperty('--rightbox-colour', '{{ layout.css.dark.rightbox-colour }}');
				document.getElementById("colour-theme-dark").checked = true;
				document.getElementById("colour-theme-light").checked = false;
				/*document.getElementById("colour-theme-auto").checked = false;*/
			}

			function colourThemeLight() {
				document.documentElement.style.setProperty('--header-colour', '{{ layout.css.light.header-colour }}');
				document.documentElement.style.setProperty('--bg-colour', '{{ layout.css.light.bg-colour }}');
				document.documentElement.style.setProperty('--bg-checkerdark', '{{ layout.css.light.bg-checkerdark }}');
				document.documentElement.style.setProperty('--bg-checkerlight', '{{ layout.css.light.bg-checkerlight }}');
				document.documentElement.style.setProperty('--bg-triangle', '{{ layout.css.light.bg-triangle }}');
				document.documentElement.style.setProperty('--sidebar-colour', '{{ layout.css.light.sidebar-colour }}');
				document.documentElement.style.setProperty('--text-colour', '{{ layout.css.light.text-colour }}');
				document.documentElement.style.setProperty('--a-colour', '{{ layout.css.light.a-colour }}');
				document.documentElement.style.setProperty('--a-visited-colour', '{{ layout.css.light.a-visited-colour }}');
				document.documentElement.style.setProperty('--a-hover-colour', '{{ layout.css.light.a-hover-colour }}');
				document.documentElement.style.setProperty('--a-active-colour', '{{ layout.css.light.a-active-colour }}');
				document.documentElement.style.setProperty('--hr-colour', '{{ layout.css.light.hr-colour }}');
				document.documentElement.style.setProperty('--tone-colour', '{{ layout.css.light.tone-colour }}');
				document.documentElement.style.setProperty('--rightbox-colour', '{{ layout.css.light.rightbox-colour }}');
				document.getElementById("colour-theme-dark").checked = false;
				document.getElementById("colour-theme-light").checked = true;
				/*document.getElementById("colour-theme-auto").checked = false;*/
			}

			function colourThemeAuto() {
				let mediaQueryList = window.matchMedia("(prefers-color-scheme: light)");

				if (!mediaQueryList.matches) {
					colourThemeDark();
				} else {
					colourThemeDark();
				}
				/*
				document.getElementById("colour-theme-dark").checked = false;
				document.getElementById("colour-theme-light").checked = false;
				document.getElementById("colour-theme-auto").checked = true;
				*/
			}

			document.addEventListener("DOMContentLoaded", function(event) {
				let cookieColourScheme = localStorage.getItem("colour_theme");

				if (cookieColourScheme) {
					if (cookieColourScheme === "light") {
						colourThemeLight();
					} else if (cookieColourScheme === "dark") {
						colourThemeDark();
					}
				} else {
					colourThemeAuto();
				}
			})

			document.getElementById("colour-theme-light").addEventListener("change", function(event) {
				if (document.getElementById("colour-theme-light").checked) {
					colourThemeLight()
					localStorage.setItem("colour_theme", "light")
				}
			})

			document.getElementById("colour-theme-dark").addEventListener("change", function(event) {
				if (document.getElementById("colour-theme-dark").checked) {
					colourThemeDark()
					localStorage.setItem("colour_theme", "dark")
				}
			})
		</script>
		<script src="/resources/scripts/settings_management_functions.js"></script>
		<script src="/resources/scripts/display_bg_checker.js"></script>
		<script src="/resources/scripts/dropdown_display_controls.js"></script>
		<script src="/resources/scripts/custom_main_content_width.js"></script>
	</body>
</html>
