* {
	scrollbar-color: var(--hr-colour, var(--text-colour, #ff417d)) transparent;

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--hr-colour, var(--text-colour, #ff417d));
	}
}
