@use "abstracts/variables";

div.info,
div.warning,
div.deny,
div.urgent {
	margin: 1rem 7.5%;
	min-height: 5rem;
	box-sizing: border-box;
}

div.urgent {
	border-left: 1px solid white;
	border-right: 1px solid white;
}

div.info > .info-content,
div.warning > .warning-content,
div.deny > .deny-content,
div.urgent > .urgent-content {
	background-color: rgba(255, 255, 255, 0.1);
	background-position: -2.5% 50%;
	background-repeat: no-repeat;
	background-size: auto 120%;
	padding: 1rem;
}

div.info > .info-content {
	background-image: url(/resources/images/backgrounds/watermark_info.svg);
}

div.warning > .warning-content {
	background-image: url(/resources/images/backgrounds/watermark_warning.svg);
}

div.deny > .deny-content {
	background-image: url(/resources/images/backgrounds/watermark_deny.svg);
}

div.urgent > .urgent-content {
	background-image: url(/resources/images/backgrounds/watermark_urgent.svg);
}

div.info > .info-header,
div.warning > .warning-header,
div.deny > .deny-header,
div.urgent > .urgent-header {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.375);
	border-bottom: 1px solid white;
	padding: 0.1ex;
	padding-left: 0.5rem;
	box-sizing: border-box;
	width: 100%;
	text-decoration: none;
	text-align: left;
	font-family: var(--header-font, inconsolata, variables.$mono-font-stack);
	font-size: 1.5rem;
	font-weight: 400;
	font-stretch: 100%;
}
